<a class="gumroad-button" id="buyEnterpriseSubscription" href="https://gumroad.com/l/SBwu" style="display:none !important">Buy my
    product</a>

<a class="gumroad-button" id="buyEnterpriseScaleSubscription" href="https://gumroad.com/l/SrfG" style="display:none !important">Buy my
    product</a>

<style>
    .pricing-row {
        margin-top: 2px !important;
    }

    h2.title {
        font-size: 38px;
        margin-bottom: 20px;
    }

    .line {
        border-bottom: 1px solid;
        margin: 5px 15px 5px 15px;
        opacity: 0.4;
    }

</style>

<div class="row yearly">
    <div class="span4 grid text-center bg-grayLighter">
        <div class="row padding5">
            <h2 class="fg-darker buy-title">community</h2>
            <small>use active public forum</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <small>google groups hosted</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <small>160 topics already resolved</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-grayDark">0 $</h3>
        </div>
        <div class="row pricing-row">
            <a href="https://groups.google.com/forum/#!forum/jsreport" class="button text-center bg-green bg-hover-gray">
                <span class="fg-white">Access</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
    <div class="span4 grid text-center bg-darkCyan">
        <div class="row padding5">
            <h2 class="fg-white buy-title">enterprise</h2>
            <small class="fg-grayLighter">
                get support from jsreport core team
            </small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">next business day SLA</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">3 hours of custom implementations or skype calls</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-white">895 $ / year</h3>
        </div>
        <div class="row pricing-row">
            <a class="button text-center bg-amber bg-hover-gray btn" onclick="$('#todo')[0].click()">
                <span class="padding10 fg-white">Comming soon</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
</div>


