<div class="container">
    <div class="grid fluid">
        <div class="row">
            <h2>jsreportonline plans</h2>
        </div>

        <div class="row">
            <p class="subtitle description padding20 bg-grayLighter">
                Please login to <a href="https://jsreportonline.net">jsreportonline</a> and click on the credits status
                to change your current pricing plan.
            </p>
        </div>

        <div class="row">
            <div class="span3">
                <button class="span12 bg-green padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">FREE</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>

                    <h3 class="fg-white">0 $ / no card</h3>
                    <hr>
                    <span class="fg-white">monthly credits *</span>

                    <h3 class="fg-white">200</h3>
                </button>
            </div>

            <div class="span3">
                <button class="span12 bg-teal padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">BRONZE</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>

                    <h3 class="fg-white">9.95 $</h3>
                    <hr>
                    <span class="fg-white">monthly credits *</span>

                    <h3 class="fg-white">10 000</h3>
                </button>
            </div>

            <div class="span3">
                <button class="span12 bg-steel padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">SILVER</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>

                    <h3 class="fg-white">99.95 $</h3>
                    <hr>
                    <span class="fg-white">monthly credits *</span>

                    <h3 class="fg-white">100 000</h3>
                </button>
            </div>

            <div class="span3">
                <button class="span12 bg-yellow padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">GOLD</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>

                    <h3 class="fg-white">299.95 $</h3>
                    <hr>
                    <span class="fg-white">monthly report credits *</span>

                    <h3 class="fg-white">300 000</h3>
                </button>
            </div>
        </div>

        <div class="row">
            <p class="subtitle description padding20 bg-grayLighter">
                *
                One report credit represents one second spent in the rendering container.
            </p>
            <p class="subtitle description padding20 bg-grayLighter">
                We won't interrupt or take any drastic action if you cross the limits.
                We will always first contact you with the email and discuss the upgrade plan options with you.
            </p>

            <p class="subtitle description padding20 bg-grayLighter">
                Prices are subject of change and can be modified in the future.
            </p>
        </div>
    </div>
</div>