
<a class="gumroad-button" id="buyEnterpriseSubscription" href="https://gumroad.com/l/SBwu" style="z-index:10000;position:absolute;width:400px;height:400px;left:-3000px;opacity:0.01;display:block">Buy my product</a>

<a class="gumroad-button" id="buyEnterpriseScaleSubscription" href="https://gumroad.com/l/SrfG" style="z-index:10000;position:absolute;width:400px;height:400px;left:-3000px;opacity:0.01;display:block">Buy my product
</a>

<a class="gumroad-button" id="buyEnterprise" href="https://gumroad.com/l/XOxVq" style="z-index:10000;position:absolute;width:400px;height:400px;left:-3000px;opacity:0.01;display:block">Buy my product
</a>

<a class="gumroad-button" id="buyEnterpriseScale" href="https://gumroad.com/l/onQk" style="z-index:10000;position:absolute;width:400px;height:400px;left:-3000px;opacity:0.01;display:block">Buy my product
</a>


<script>
    document.addEventListener('click', printMousePos, true);
    var cursorX
    var cursorY
    function printMousePos(e){
        cursorX = e.pageX
        cursorY = e.pageY
    }

    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
    }
    var contactEmailSet = getCookie('jsreport-contact-email-set') === 'true'
    function yearly() {
        $('.yearly').show()
        $('.one-time').hide()
        $('#yearlyButton').addClass('bg-amber')
        $('#yearlyButton').removeClass('bg-steel')
        $('#oneTimeButton').removeClass('bg-amber')
        $('#oneTimeButton').addClass('bg-steel')
    }

    function oneTime() {
        $('.yearly').hide()
        $('.one-time').show()
        $('#oneTimeButton').addClass('bg-amber')
        $('#oneTimeButton').removeClass('bg-steel')
        $('#yearlyButton').removeClass('bg-amber')
        $('#yearlyButton').addClass('bg-steel')
    }

    function buy(type) {
        if ($('#contactEmail').val()) {
            contactEmailSet = true
            $.post('/contact-email', {
                type,
                contactEmail: $('#contactEmail').val(),
                enabledNewsletter: $('#enabledNewsletter').is(':checked')
            })
        }

        var selector
        switch (type) {
            case 'enterprise': selector = '#buyEnterprise'; break
            case 'enterprise-scale': selector = '#buyEnterpriseScale'; break
            case 'subscription': selector = '#buyEnterpriseSubscription'; break
            case 'subscription-scale': selector = '#buyEnterpriseScaleSubscription'; break
        }

        var btn = $(selector)
            .css({
                "left": (cursorX - 200) + 'px',
                "top": (cursorY - 200) + 'px'
            })

        btn.click()
        $.Dialog.close()

        setTimeout(function () {
            btn.css({
                left: -3000
            })
        }, 2000)
    }

    function checkGumroadWorking () {
        var button = $($('.gumroad-button')[0])
        var linkToFetch = button.attr('href')
        var iframe = document.createElement('iframe')
        var tries = 0
        var loaded = false

        iframe.style.display = 'none'

        iframe.onload = function () {
            loaded = true
        }

        iframe.src = linkToFetch

        document.body.appendChild(iframe)

        function checkIfIframeWasLoaded () {
            tries++

            if (tries === 10 && !loaded) {
                var gumroadMessageEl = document.getElementById('gumroad-does-not-work-in-your-country')
                gumroadMessageEl.style.display = 'block'
                $.Dialog.autoResize()
            } else if (!loaded) {
                setTimeout(checkIfIframeWasLoaded, 500)
            }
        }

        setTimeout(checkIfIframeWasLoaded, 500)
    }

    function contact (type) {
        if (contactEmailSet) {
            return buy(type)
        }

        checkGumroadWorking()

        $.Dialog({
                overlay: true,
                shadow: true,
                flat: true,
                title: 'Contact email',
                padding: 10,
                content: `
                  <div class='container padding10'>
                        <div class='grid'>
                            <div class='row'>
                                <p>
                                        Before we open the form with the payments information, we kindly ask you to give us your contact email.<br/>
                                        This would be used in case there will be an issue with the payments processing.
                                </p>
                            </div>
                            <div class='row'>
                                <label>contact email (optional)</label>
                                <input type='text' class='input-control text' id='contactEmail' style='width: 50%;cursor:text' />
                            </div>

                            <div class='row input-control checkbox'>
                                <label>
                                    <input type='checkbox' id='enabledNewsletter' />
                                    <span class='check'></span>should we enrol you to the newsletter? (max once per month)
                                </label>
                            </div>

                            <div class='row top10'>
                                <a class="button text-center bg-amber bg-hover-gray btn" onclick="buy('${type}')">
                                    <span class="padding10 fg-white">Buy now</span>
                                </a>
                            </div>

                            <div id="gumroad-does-not-work-in-your-country" class="row" style='display:none'>
                                <p>
                                    <i class="icon-warning fg-yellow" style="font-size:35px; float:left; margin-right:10px" alt="warning"></i>
                                    It seems our reseller <a href="https://gumroad.com/">Gumroad, Inc.</a> is down or blocked in your country.
                                    However, fortunately, you can buy the license directly from us. Please send your inquiry to email <a href="mailto:support@jsreport.net">support@jsreport.net</a> if the <b>"Buy now"</b> button doesn't work.
                                </p>
                            </div>

                            <div class='row'>
                                <p>
                                    <i class="icon-support fg-cyan" style="float: left;font-size:35px;margin-right:10px" alt="support"></i>
                                    Please note the commercial support isn't part of the license and needs to be purchased extra if you need professional support service with SLA.<br/>
                                    See the details in the <a href="/buy/support">support section</a>.
                                </p>
                            </div>
                    </div>
                  </div>
                `
        })
    }

</script>



<div class="row">
    <h2>on-premise licenses</h2>
    <p class="description subtitle">
        Choose between yearly subscription or perpetual based license. The subscription based license is automatically renewed, include all updates and is
        valid as long as the subscription is paid. The perpetual license includes only limited period for which the updates are included, but is valid endlessly.
        The enterprise plan requires dedicated license for every server instance. The scale plan is better option when running multiple instances or deploying
        as part of another product to multiple customers because it provides single license which can be used on infinite amount of instances.
        All licenses are royalty free.
    </p>
</div>

<div class="row">
    <div class="padding5 span2 bg-amber text-center bg-hover-gray" id="yearlyButton" onclick="yearly()">
        <a href="#">
            <span class="fg-white">yearly</span>
        </a>
    </div>
    <div class="padding5 span2 bg-steel text-center bg-hover-gray" id="oneTimeButton" onclick="oneTime()">
        <a href="#">
            <span class="fg-white">one time</span>
        </a>
    </div>
    <div class="span6"></div>
</div>


<div class="row yearly">
    <div class="span4 grid text-center bg-grayLighter">
        <div class="row padding5">
            <h2 class="fg-darker buy-title">free</h2>
            <small>fully featured server limited for up to 5 report templates</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <small>no license key</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-red">max 5 templates</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-grayDark">0 $</h3>
        </div>
        <div class="row pricing-row">
            <a href="/on-prem" class="button text-center bg-green bg-hover-gray">
                <span class="fg-white">Download</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
    <div class="span4 grid text-center bg-darkCyan">
        <div class="row padding5">
            <h2 class="fg-white buy-title">enterprise</h2>
            <small class="fg-grayLighter">fully featured single server instance with no limitations
            </small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">dev servers for free *</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">updates included</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-white">295 $ / year</h3>
        </div>
        <div class="row pricing-row">
            <a class="button text-center bg-amber bg-hover-gray btn" onclick="contact('subscription')">
                <span class="padding10 fg-white">Subscribe</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
    <div class="span4 grid text-center bg-mauve">
        <div class="row padding5">
            <h2 class="fg-white buy-title">enterprise scale</h2>
            <small class="fg-grayLighter">one license key valid for infinite amount of instances
            </small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">royalty-free</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">updates included</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-white">995 $ / year</h3>
        </div>
        <div class="row pricing-row">
            <a class="button text-center bg-amber bg-hover-gray btn" onclick="contact('subscription-scale')">
                <span class="padding10 fg-white">Subscribe</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
</div>

<div class="row one-time" style="display:none">
    <div class="span4 grid text-center bg-grayLighter">
        <div class="row padding5">
            <h2 class="fg-darker buy-title">free</h2>
            <small>fully featured server limited for up to 5 report templates</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <small>no license key</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-red">max 5 templates</small>
            <div class="buy-line fg-grayLight"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-grayDark">0 $</h3>
        </div>
        <div class="row pricing-row">
            <a href="/downloads" class="button text-center bg-green bg-hover-gray">
                <span class="fg-white">Download</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
    <div class="span4 grid text-center bg-darkCyan">
        <div class="row padding5">
            <h2 class="fg-white buy-title">enterprise</h2>
            <small class="fg-grayLighter">fully featured single server instance with no limitations
            </small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">dev servers for free *</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">updates included for 6 months</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-white">645 $</h3>
        </div>
        <div class="row pricing-row">
            <a class="button text-center bg-amber bg-hover-gray btn" onclick="contact('enterprise')">
                <span class="padding10 fg-white">Buy</span>
            </a>
        </div>
        <div class="row"></div>
    </div>
    <div class="span4 grid text-center bg-mauve">
        <div class="row padding5">
            <h2 class="fg-white buy-title">enterprise scale</h2>
            <small class="fg-grayLighter">one license key valid for infinite amount of instances
            </small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">royalty-free</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <small class="fg-grayLighter">updates included for 6 months</small>
            <div class="buy-line fg-grayLighter"></div>
        </div>
        <div class="row pricing-row">
            <h3 class="fg-white">1995 $</h3>
        </div>
        <div class="row pricing-row">
            <a class="button text-center bg-amber bg-hover-gray btn" onclick="contact('enterprise-scale')">
                <span class="padding10 fg-white">Buy</span>
            </a>
        </div>
        <div class="row"></div>

    </div>
</div>
<div class="row">
    <p class="description padding20 bg-grayLighter subtitle" id="euNote">
        <i class="icon-support fg-cyan" style="font-size:45px; float:left; margin-right:10px" alt="support"></i>
        The support isn't part of the license. It should be purchased extra in <a href="/buy/support">support section</a> if needed.        
        You can also rely on the free community support, but this has no guarantees and no benefits like paid support contract.
    </p>
    <p class="description padding20 bg-grayLighter subtitle" id="euNote">
        <img src="/img/eu.png" style="height:40px; margin-right:10px" alt="europe" align="left" /> Follow this
        <a href='https://help.gumroad.com/article/16-vat-refund'>link</a> if you are company and need a VAT refund. We optionally provide also invoice based sales with direct EU
        bank account transfers to companies in European Union. Please
        <a href='/about'>contact us</a> with your company address and VAT number to get the manual invoice.
    </p>   

    <p class="description padding20 bg-grayLighter subtitle">
        * The server is considered as production if it is used by users outside of the dev team. This means that the continuous integration
        server is considered as development for example. However UAT server can be considered as production if it is reached
        by the users outside of the dev team.
    </p>

    <p class="description padding20 bg-grayLighter subtitle">
        Having the license key already? See the
        <a href='/learn/faq#how-to-apply-license-key'>FAQ</a> how to apply it.
    </p>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/userinfo/1.1.0/userinfo.min.js"></script>

<script>
    UserInfo.getInfo(function (data) {
        userInfo = data
        if (data.continent.code === 'EU' && data.country.code !== 'UK' && data.country.code !== 'CZ') {
            $('#euNote').show()
        }
    })
</script>
