<script>
  function yearly () {
    $('.yearly').show()
    $('.one-time').hide()
    $('#yearlyButton').addClass('bg-amber')
    $('#yearlyButton').removeClass('bg-steel')
    $('#oneTimeButton').removeClass('bg-amber')
    $('#oneTimeButton').addClass('bg-steel')
  }

  function oneTime () {
    $('.yearly').hide()
    $('.one-time').show()
    $('#oneTimeButton').addClass('bg-amber')
    $('#oneTimeButton').removeClass('bg-steel')
    $('#yearlyButton').removeClass('bg-amber')
    $('#yearlyButton').addClass('bg-steel')
  }

  function buy (type) {
    window.location.pathname = '/payments/checkout/' + type
  }
</script>

<div class="row">
  <h2>on-premise licenses</h2>
  <p class="description subtitle">
    Choose between yearly subscription or perpetual based license. The
    subscription based license is automatically renewed, include all updates and
    is valid as long as the subscription is paid. The perpetual license includes
    only limited period for which the updates are included, but is valid
    endlessly. The enterprise plan requires dedicated license for every jsreport
    instance. The scale plan is better option when running multiple instances or
    deploying as part of another product to multiple customers because it
    provides single license which can be used on infinite amount of instances.
    All licenses are royalty free.
  </p>
</div>

<div class="row">
  <div
    class="padding5 span2 bg-amber text-center bg-hover-gray"
    id="yearlyButton"
    onclick="yearly()"
  >
    <a href="#">
      <span class="fg-white">yearly</span>
    </a>
  </div>
  <div
    class="padding5 span2 bg-steel text-center bg-hover-gray"
    id="oneTimeButton"
    onclick="oneTime()"
  >
    <a href="#">
      <span class="fg-white">one time</span>
    </a>
  </div>
  <div class="span6"></div>
</div>

<div class="row yearly">
  <div class="span4 grid text-center bg-grayLighter">
    <div class="row padding5">
      <h2 class="fg-darker buy-title">free</h2>
      <small
        >fully featured instance limited for up to 5 report templates</small
      >
      <div class="buy-line fg-grayLight"></div>
    </div>
    <div class="row pricing-row">
      <small>no license key</small>
      <div class="buy-line fg-grayLight"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-red">max 5 templates</small>
      <div class="buy-line fg-grayLight"></div>
    </div>
    <div class="row pricing-row">
      <h3 class="fg-grayDark">0 $</h3>
    </div>
    <div class="row pricing-row">
      <a href="/on-prem" class="button text-center bg-green bg-hover-gray">
        <span class="fg-white">Download</span>
      </a>
    </div>
    <div class="row"></div>
  </div>
  <div class="span4 grid text-center bg-darkCyan">
    <div class="row padding5">
      <h2 class="fg-white buy-title">enterprise</h2>
      <small class="fg-grayLighter"
        >fully featured single jsreport instance with no limitations
      </small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">dev instances for free *</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">updates included</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <h3 class="fg-white">395 $ / year</h3>
    </div>
    <div class="row pricing-row">
      <a
        class="button text-center bg-amber bg-hover-gray btn"
        onclick="buy('enterpriseSubscription')"
      >
        <span class="padding10 fg-white">Subscribe</span>
      </a>
    </div>
    <div class="row"></div>
  </div>
  <div class="span4 grid text-center bg-mauve">
    <div class="row padding5">
      <h2 class="fg-white buy-title">enterprise scale</h2>
      <small class="fg-grayLighter"
        >one license key valid for infinite amount of instances
      </small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">royalty-free</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">updates included</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <h3 class="fg-white">1295 $ / year</h3>
    </div>
    <div class="row pricing-row">
      <a
        class="button text-center bg-amber bg-hover-gray btn"
        onclick="buy('enterpriseScaleSubscription')"
      >
        <span class="padding10 fg-white">Subscribe</span>
      </a>
    </div>
    <div class="row"></div>
  </div>
</div>

<div class="row one-time" style="display:none">
  <div class="span4 grid text-center bg-grayLighter">
    <div class="row padding5">
      <h2 class="fg-darker buy-title">free</h2>
      <small
        >fully featured instance limited for up to 5 report templates</small
      >
      <div class="buy-line fg-grayLight"></div>
    </div>
    <div class="row pricing-row">
      <small>no license key</small>
      <div class="buy-line fg-grayLight"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-red">max 5 templates</small>
      <div class="buy-line fg-grayLight"></div>
    </div>
    <div class="row pricing-row">
      <h3 class="fg-grayDark">0 $</h3>
    </div>
    <div class="row pricing-row">
      <a href="/downloads" class="button text-center bg-green bg-hover-gray">
        <span class="fg-white">Download</span>
      </a>
    </div>
    <div class="row"></div>
  </div>
  <div class="span4 grid text-center bg-darkCyan">
    <div class="row padding5">
      <h2 class="fg-white buy-title">enterprise</h2>
      <small class="fg-grayLighter"
        >fully featured single jsreport instance with no limitations
      </small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">dev instances for free *</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">updates included for 6 months</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <h3 class="fg-white">895 $</h3>
    </div>
    <div class="row pricing-row">
      <a
        class="button text-center bg-amber bg-hover-gray btn"
        onclick="buy('enterprise')"
      >
        <span class="padding10 fg-white">Buy</span>
      </a>
    </div>
    <div class="row"></div>
  </div>
  <div class="span4 grid text-center bg-mauve">
    <div class="row padding5">
      <h2 class="fg-white buy-title">enterprise scale</h2>
      <small class="fg-grayLighter"
        >one license key valid for infinite amount of instances
      </small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">royalty-free</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <small class="fg-grayLighter">updates included for 6 months</small>
      <div class="buy-line fg-grayLighter"></div>
    </div>
    <div class="row pricing-row">
      <h3 class="fg-white">2495 $</h3>
    </div>
    <div class="row pricing-row">
      <a
        class="button text-center bg-amber bg-hover-gray btn"
        onclick="buy('enterpriseScale')"
      >
        <span class="padding10 fg-white">Buy</span>
      </a>
    </div>
    <div class="row"></div>
  </div>
</div>
<div class="row">
  <p class="description padding20 bg-grayLighter subtitle" id="euNote">
    <i
      class="icon-support fg-cyan"
      style="font-size:45px; float:left; margin-right:10px"
      alt="support"
    ></i>
    The support isn't part of the license. It should be purchased extra in
    <a href="/buy/support">support section</a> if needed. You can also rely on
    the free community support, but this has no guarantees and no benefits like
    paid support contract.
  </p>
  <p class="description padding20 bg-grayLighter subtitle">
    * The server is considered as production if it is used by users outside of
    the dev team. This means that the continuous integration server is
    considered as development for example. However UAT server can be considered
    as production if it is reached by the users outside of the dev team.
  </p>

  <p class="description padding20 bg-grayLighter subtitle">
    Having the license key already? See the
    <a href="/learn/faq#how-to-apply-license-key">FAQ</a> how to apply it.
    <br />
    Searching for an invoice or lost license key? We always email you a link to
    your payments dashboard. If you have also lost the email,
    <a href="/payments/customer">request link again here.</a>
  </p>
</div>
