<!DOCTYPE html>
<html lang="en">       
  <head>                  
    <meta charset="utf-8">             
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">             
      {{#if description}}
    <meta name="description" content="{{{description}}}">
    {{/if}}
    <link rel="shortcut icon" href="/img/favicon.ico">             
   <!-- <link href="/css/metro-bootstrap.css" rel="stylesheet">             
    <link href="/css/metro-bootstrap-responsive.css" rel="stylesheet">             
    <link href="/css/docs.css" rel="stylesheet">             
    <link href="/js/prettify/prettify.css" rel="stylesheet">             
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">             
    <link href="/css/style.css" rel="stylesheet">  -->
    {{#if linkDocCss}}
    <link href="/css/github.css" rel="stylesheet"> 
    {{/if}}          
    <!-- Load JavaScript Libraries -->           
 <!--   <script src="/js/jquery/jquery.min.js"> </script>           
    <script src="/js/jquery/jquery.widget.min.js"> </script>           
    <script src="/js/jquery/jquery.mousewheel.js"> </script>           
    <script src="/js/prettify/prettify.js"> </script>               -->
  <!-- Metro UI CSS JavaScript plugins -->           
  <!--  <script src="/js/load-metro.js"> </script>               -->
  <!-- Local JavaScript -->           
 <!--   <script src="/js/docs.js"> </script>           
    <script src="/js/github.info.js"> </script>               -->
    <title>{{#if title}}
        {{{title}}}
        {{else}}
        jsreport: javascript based reporting platform
        {{/if}}</title>  
    <script src="/jsreport.min.js"> </script> 
    <link href="/jsreport.min.css" rel="stylesheet">  
  </head>       
  <body class="metro">             
    <div id="wrap">                   
      <nav class="navigation-bar dark">                         
        <nav class="navigation-bar-content container">                               
          <a class="element brand" href="/">            
            <div class="brand-logo">            
            </div></a>                               
          <a class="element brand {{#if home}}fg-blue{{/if}}" href="/">HOME</a>                               
          <a class="element brand {{#if playground}}fg-blue{{/if}}" href="/playground">PLAYGROUND</a>                               
          <a class="element brand {{#if onprem}}fg-blue{{/if}}" href="/on-prem">JSREPORT ON-PREM</a>                               
          <a class="element brand {{#if online}}fg-blue{{/if}}" href="/online">JSREPORT ONLINE</a>                               
          <a class="element brand {{#if learn}}fg-blue{{/if}}" href="/learn">LEARN</a>                               
          <a class="element brand {{#if about}}fg-blue{{/if}}" href="/about">ABOUT</a>                               
          <a class="element brand place-right" href="https://jsreportonline.net"><sup>MY ACCOUNT</sup></a>                                        
          <span class="element-divider place-right">          
          </span>                         
        </nav>                   
      </nav>{{{fixCoding body}}}     
    </div>             
    <div id="footer" class="bg-dark">                   
      <div class="container fg-white">&copy; 2014         
        <a href="/" class="fg-blue">jsreport</a> All rights reserved.                          
        <a class="span2 bg-blue fg-white place-right" href="https://github.com/jsreport/jsreport">          
          <i class="icon-github"></i> Github</a>              
      </div>                      
    </div>                  
    <!-- /.container -->               
    <!-- JavaScript -->           
   <!-- <script src="/js/metro.min.js"> </script>         -->
  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48518590-1', 'jsreport.net');
  ga('send', 'pageview');
</script>
</html>