<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {{#if description}}
    <meta name="description" content="{{{description}}}">
    {{/if}}
    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>{{#if title}}{{{title}}}{{else}}jsreport: javascript based reporting platform{{/if}}</title>
    <script src="/jsreport.min.js?v=19"> </script>
    <link href="/jsreport.min.css?v=43" rel="stylesheet">
    {{#if learn}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
    {{/if}}
    {{#if linkDocCss}}
    <link href="/css/github.css?v=19" rel="stylesheet">
    {{/if}}
    <script
        type='application/ld+json'>{"@context":"http://schema.org","@type":"Organization","url":"https://jsreport.net","name":"jsreport","logo":"https://jsreport.net/img/jsreport-bg.png"}</script>
</head>

<body class="metro">
    <div id="wrap">
        <nav class="navigation-bar dark">
            <nav class="navigation-bar-content container">
                <a class="element brand" href="/">
                    <div class="brand-logo">
                    </div>
                </a>
                <span class="element-divider place-left"></span>
                <a class="element brand {{#if home}}fg-blue{{/if}}" href="/">HOME</a>
                <a class="element brand {{#if onprem}}fg-blue{{/if}}" href="/on-prem">DOWNLOAD</a>
                <a class="element brand {{#if online}}fg-blue{{/if}}" href="/online">JSREPORT ONLINE</a>
                <a class="element brand {{#if playground}}fg-blue{{/if}}" href="/playground">PLAYGROUND</a>
                <a class="element brand {{#if blog}}fg-blue{{/if}}" href="/blog">BLOG</a>
                <a class="element brand {{#if learn}}fg-blue{{/if}}" href="/learn">LEARN</a>
                <a class="element brand {{#if buy}}fg-blue{{/if}}" href="/buy">BUY</a>
                <a class="element brand {{#if about}}fg-blue{{/if}}" href="/about">ABOUT</a>
                {{#if learn}}
                <a class="element brand docs-search-bar algolia-autocomplete algolia-autocomplete-right">
                    <i class="prepend-icon icon-search docs-search-icon"></i>
                    <input type='text' id='docsSearch' class='docs-search-input' />
                </a>
                {{/if}}
            </nav>
        </nav>{{{fixCoding body}}}
    </div>
    <div id="footer" class="bg-dark">
        <div class="container fg-white">
            &copy; 2025 <a href="/" class="fg-blue">jsreport&reg;</a> All rights reserved.
        </div>
    </div>
    {{#if learn}}
    <div class='docs-version'>
        <div class='fg-white'>jsreport version</div>
        <select id='docsVersionSelect' class='fg-gray' style='width:150px'>
            {{#each versions}}
            <option {{#ifEql ../version this}}selected{{/ifEql}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    {{/if}}
    <!-- /.container -->
    <!-- JavaScript -->
    <!-- <script src="/js/metro.min.js"> </script>         -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i[' GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1
                * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script'
            , '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-49012894-1'
                , 'jsreport.net'); ga('send', 'pageview');</script>


    {{#if learn}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
        docsearch({
            apiKey: '6eac2ee1443fd1b52f29a564b841b728',
            indexName: 'jsreport',
            inputSelector: '#docsSearch',
            debug: false
        });
    </script>
    {{/if}}
</body>

</html>