<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">{{{title}}}</h1>
</div></div>
<div class="container">
    <div class="grid">
        <div class="row">
             <div class="span12">
                <div class="documentation" id="documentation">
                    {{{content}}}                                              
                    <div class="text-center">
                        <div style="float:left">
                        <a href="https://forum.jsreport.net" target="_blank">
                        <img src="/img/groups-icon.jpg" style="height:40px" alt="google groups">
                            Questions? Ask in forum
                        </a>
                        </div>
                        <div class="pull-right">
                        <a href="https://github.com/jsreport/docs/tree/master/docs/{{id}}.md" target="_blank">
                        <img src="/img/open-source.jpg" style="height:40px" alt="google groups">
                            Edit this article
                        </a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>