<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">.NET</h1>
    </div></div>

<div class="container">
    <div class="grid fluid">

        <div class="row">
            <div class="span12">
                <p>
                    jsreport is the first class citizen when it comes to .NET, visual studio and c#.
                    It ships with .NET client sdk, embedded version of jsreport capable
                    of running side by side with .NET process without any installation and also
                    MVC filter for direct report rendering from Razor views.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/net-client">
                    <button class="span12 bg-magenta padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">.NET Client<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/net-embedded">
                    <button class="span12 bg-orange padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">.NET embedded<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/asp-net-mvc">
                    <button class="span12 bg-green padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">ASP.NET MVC<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>