<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">Templating engines</h1>
    </div></div>

<div class="container">
    <div class="grid">

        <div class="row">
            <div class="span12">
                <p>
                    jsreport uses javascript templating engines to define report layout. You can bind input data, use loops, conditions or javascript helpers...
                    Templating engines basically provides you way to define any custom report you like in a very fast, flexible, matured and well known way for everyone who
                    has ever written a javascript single page application.
                </p>
                <p>
                <p>
                    jsreport ships out of the box with following engines.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/handlebars">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">handlebars</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="/learn/jsrender">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">jsrender</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="/learn/ejs">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">EJS</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <a href="https://github.com/bjrmatos/jsreport-pug">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">pug</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="/learn/custom-engine">
                    <div class="tile thin bg-orange text-center">
                        <div class="tile-content">
                            <span class="fg-white">Custom Engine</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
