<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <a href="/learn"><i class="icon-arrow-left-3 smaller fg-white"></i></a>

        <h1 class="fg-white">jsreport extensions</h1>
    </div>
</div>
<div class="container">
    <div class="grid fluid">

        <div class="row">
            <div class="span12">
                <p>
                    jsreport architecture was designed to be highly extensible. All the main parts of jsreport like
                    templates or pdf rendering are in fact extensions.
                    You can turn them on/off or even create your own extensions that will add special attributes to the
                    templates or customize jsreport studio.
                </p>

                <p>
                    jsreport ships out of the box with several extensions you can read about in following articles.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/inline-data">
                    <button class="span12 bg-emerald padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Inline Data<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/images">
                    <button class="span12 bg-orange padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Images<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/scripts">
                    <button class="span12 bg-amber padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Scripting<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/child-templates">
                    <button class="span12 bg-lightBlue padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Child templates<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/reports">
                    <button class="span12 bg-magenta padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Reports<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/scheduling">
                    <button class="span12 bg-lightPink padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Scheduling<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/authentication">
                    <button class="span12 bg-green padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Authentication<i class="icon-arrow-right-3 place-right fg-white"></i>
                        </h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/authorization">
                    <button class="span12 bg-cyan padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Authorization<i class="icon-arrow-right-3 place-right fg-white"></i>
                        </h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/embedding">
                    <button class="span12 bg-crimson padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Embedding<i class="icon-arrow-right-3 place-right fg-white"></i>
                        </h2>
                    </button>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="https://github.com/jsreport/jsreport-contrib">
                    <button class="span12 bg-cobalt padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">
                            <i class="icon-github fg-white"></i>
                            Extensions on GitHub<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>
    </div>


    <div>
        <ul>
            {{#each tutorials}}
            <li><a href="/learn/{{this.link}}">{{this.title}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
