<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <a href="/learn"><i class="icon-arrow-left-3 smaller fg-white"></i></a>

        <h1 class="fg-white">jsreport extensions</h1>
    </div>
</div>
<div class="container">
    <div class="grid">

        <div class="row">
            <div class="span12">
                <p>
                    jsreport architecture was designed to be highly extensible. All the main parts of jsreport like
                    templates or pdf rendering are in fact extensions.
                    You can turn them on/off or even <a href="/learn/custom-extension">create your own extensions</a>
                    that will add special attributes to the
                    templates or customize jsreport studio.
                </p>

                <p>
                    jsreport ships out of the box with several extensions you can read about in following articles.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/inline-data">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Inline Data</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/images">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Images</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/scripts">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Scripting</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/child-templates">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Child templates</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/reports">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Reports</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/scheduling">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Scheduling</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/authentication">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Authentication</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/authorization">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Authorization</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/embedding">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Embedding</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/public-templates">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Public temlates</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="/learn/resources">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Resources</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="/learn/client-app">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Client Application</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <a href="https://github.com/jsreport/jsreport-static-resources">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">Static Resources</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="https://github.com/jsreport/jsreport-freeze">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">Freeze</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="/learn/custom-extension">
                    <div class="tile thin bg-orange text-center">
                        <div class="tile-content">
                            <span class="fg-white">Custom Extension</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
