<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">jsreport documentation</h1>
    </div></div>
<div class="container">
    <div class="grid fluid">
        <div class="row">
            <div class="span6">
				<a href="/learn/get-started">
					<button class="span12 bg-emerald padding20 text-center bg-hover-gray">
						<h2 class="fg-white">Get started<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
					</button>
				</a>
			</div>				
            <div class="span6">    
				<a href="/learn/extensions">
					<button class="span12 bg-orange padding20 text-center bg-hover-gray">
						<h2 class="fg-white">Extensions<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
					</button>
				</a>
			</div>
		</div>

        <div class="row">
            <div class="span6">
                <a href="/learn/recipes">
                    <button class="span12 bg-amber padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Recipes<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
            <div class="span6">
                <a href="/learn/templating-engines">
                    <button class="span12 bg-lime padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Templating engines<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                 </a>
            </div>
         </div>
    
        <div class="row">
            <div class="span6">
				 <a href="/learn/api">
					 <button class="span12 bg-magenta padding20 text-center bg-hover-gray">
						 <h2 class="fg-white">Cross platform API<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
					 </button>
				 </a>
 			</div> 
            <div class="span6">			
				 <a href="/learn/visual-studio-and-net">
					 <button class="span12 bg-lightBlue padding20 text-center bg-hover-gray">
						 <h2 class="fg-white">Visual Studio and .NET<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
					 </button>
				 </a>
            </div>
        </div>

        <div class="row">
            <div class="span6">
                <a href="/learn/nodejs">
                    <button class="span12 bg-green padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">node.js<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>
</div>
</div>