<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>

        <h1 class="fg-white">jsreport documentation</h1>
    </div>
</div>
<div class="container">
    <div>
        <div>
            <h2>tutorials</h2>
        </div>

        <div class="grid">
            <div class="row">
                <a href="/learn/get-started">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Get started</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/periodical-report-sending-through-email">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content-multiline">
                            <span class="fg-white">Periodical report sending through email</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/live-reports">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Live reports</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/customizable-dashboards-integration">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content-multiline">
                            <span class="fg-white">Customizable dashboards integration</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <h2>basics & rendering</h2>
        </div>
        <div class="grid fluid">
            <div class="row">
                <a href="/learn/extensions">
                    <div class="tile bg-orange fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>Extensions</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/recipes">
                    <div class="tile bg-orange fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>Recipes</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/templating-engines">
                    <div class="tile bg-orange fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>Engines</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/api">
                    <div class="tile bg-orange fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>API</span>
                        </div>
                    </div>
                </a>
            </div>

            <div>
                <h2>clients & sdks</h2>
            </div>

            <div class="row">
                <a href="/learn/visual-studio-and-net">
                    <div class="tile bg-green fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>.NET & VS</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/nodejs">
                    <div class="tile bg-green fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>node.js</span>
                        </div>
                    </div>
                </a>
                <a href="/learn/reports-in-sharepoint">
                    <div class="tile bg-green fg-white padding10">
                        <div class="text-center tile-text tile-content">
                            <span>SharePoint</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>