<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">node.js</h1>
    </div></div>

<div class="container">
    <div class="grid fluid">

        <div class="row">
            <div class="span12">
                <p>
                    jsreport is written in <a href="http://nodejs.org">node.js</a> and can easily be customized through javascript or run
                    as a part of another node application. See the article <a href="/learn/adapting-jsreport"> jsreport in node.js</a> for
                    the details how to integrate or adapt jsreport.
                </p>
                <p>
                    <a href="https://github.com/jsreport/jsreport-core">jsreport-core</a> is lightweight package which contains jsreport main infrastructure but excludes
                    all the extensions. It fits into node.js applications in which you want to use just some particular parts of jsreport and for example exclude the studio web designer.
                    See also post <a href="/blog/introducing-jsreport-core">Introducing jsreport-core</a>.
                </p>
                <p>
                    Refer to the article <a href="/learn/nodejs-client">node.js remote client</a> when searching for a way how to remotely communicate with jsreport server through http API.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="span4">
                <a href="/learn/adapting-jsreport">
                    <button class="span12 bg-orange padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">jsreport in node.js<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="https://github.com/jsreport/jsreport-core">
                    <button class="span12 bg-lightOrange padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">jsreport-core<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/nodejs-client">
                    <button class="span12 bg-lightBlue padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">node.js remote client<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>