<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <a href="/learn"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">node.js</h1>
    </div></div>

<div class="container">
    <div class="grid fluid">

        <div class="row">
            <div class="span12">
                <p>
                    Whole jsreport is written in <a href="http://nodejs.org">node.js</a> and its obvious it has first class support for node environment.
                    It is distributed in a common way through <a href="https://www.npmjs.org/package/jsreport">npm package</a> so it's easy to reach it.
                </p>
                <p>
                    It can run as a standalone <a href="http://expressjs.com/">express</a> server in form of <a href="http://jsreport.net/on-prem">jsreport on premise</a>
                    or it can run as a part of another nodejs application. This documentation covers running jsreport as a part of another application in section
                    <a href="adapting-jsreport">adapting jsreport</a>. Section <a href="/learn/nodejs-client">node.js client</a> covers connecting into running jsreport server
                    remotely using dedicated node.js library.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="span6">
                <a href="/learn/adapting-jsreport">
                    <button class="span12 bg-orange padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">Adapting jsreport<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>

            <div class="span6">
                <a href="/learn/nodejs-client">
                    <button class="span12 bg-lightBlue padding20 text-center bg-hover-gray">
                        <h2 class="fg-white">node.js client<i class="icon-arrow-right-3 place-right fg-white"></i></h2>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>