<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <a href="/learn"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">Recipes</h1>
    </div></div>

<div class="container">
    <div class="grid">

        <div class="row">
            <div class="span12">
                <p>
                    Customizing report output format is done using feature called recipes. Every report template needs to specify
                    recipe used when rendering report. For example setting report template recipe to <a href="/learn/phantom-pdf">phantom-pdf</a> will make report output
                    a be pdf printed using <a href="http://phantomjs.org/">phantomjs</a> screen capture feature. Adding a new recipe is a basic extension point you can hook
                    with your implementation.
                </p>
                <p>
                <p>
                    jsreport ships out of the box with following recipes.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/html">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Html</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/phantom-pdf">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Phantom pdf</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/fop-pdf">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Fop pdf</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/xlsx">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Xlsx</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/html-to-xlsx">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Html to Xlsx</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/text">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Text</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/html-with-browser-client">
                    <div class="tile thin bg-darkCyan text-center">
                        <div class="tile-content">
                            <span class="fg-white">Html with browser client</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/client-html">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">Client html</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="/learn/wkhtmltopdf">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">wkhtmltopdf</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/html-to-text">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">Html to Text</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="span4">
                <a href="https://github.com/jsreport/jsreport-phantom-image">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">Phantom Image</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="span4">
                <a href="https://github.com/bjrmatos/jsreport-electron-pdf">
                    <div class="tile thin bg-darkViolet text-center">
                        <div class="tile-content">
                            <i class="icon-github fg-white"></i>
                            <span class="fg-white">Electron pdf</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <a href="/learn/custom-recipe">
                    <div class="tile thin bg-orange text-center">
                        <div class="tile-content">
                            <span class="fg-white">Custom Recipe</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>