<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<div class="toolbar">
    <input class="btn" type='button' value='export to pdf' id='printCommand'/>
</div>

<div id="page" contenteditable="true">
    <p>
        Lorem ipsum dolor sit amet, te vim impetus tractatos, dico consulatu per eu, cu dolores adipiscing qui. Sit te
        volumus facilisis, quis invenire ei vis, an vel facer paulo. Vidit persecuti ad usu, vim illum zril inciderint
        ex. Mea in saepe minimum quaestio, in pri quem enim expetendis.
    </p>

    <p>
        In quem scripserit sit, cu simul alienum epicurei duo. Nostrud consectetuer mel ei. Noster consulatu cu nam. Cum
        equidem abhorreant no, mundi iracundia constituto an has.
    </p>

    <p>
        Tota complectitur an sed. Exerci persius honestatis cu duo, sed ei dolor fuisset. Ferri necessitatibus vim ne.
        Nec dicit fuisset et.
    </p>
</div>

<script>
    $(function () {
        $("#printCommand").click(function () {
            //CKEDITOR.instances["page"].destroy();
            var printTemplate = $.extend({}, jsreport.template);
            //console.log(printTemplate.content);
            printTemplate.content = xxx;
            printTemplate.engine = "jsrender";
            printTemplate.recipe = "phantom-pdf";
            console.log(printTemplate.content);
            jsreport.render(printTemplate);
        });
    });
</script>

<script>
    var xxx = "";
    xxx = $("#page")[0].outerHTML;
    $(function () {
        //CKEDITOR.disableAutoInline = false;
        //CKEDITOR.config.allowedContent = true;

        //$("[contenteditable=true]").each(function() {
        //var ck = CKEDITOR.replace("page", {
        //    });
        //}) ;

        //ck.on("change", function(evt) {
        //    xxx = evt.editor.getData();
        //});

        /*for(name in CKEDITOR.instances)
         {
         CKEDITOR.instances[name].on("change", function(evt) {
         console.log(evt.editor.getData());

         var xml = $($.parseXML(jsreport.template.content));
         xml.find("#" + evt.editor.element.$.id).html(evt.editor.getData());
         jsreport.template.content = xml[0].documentElement.outerHTML;
         });
         }*/
    });
</script>

</body>
</html>