<div class="bg-cyan">          
  <div class="container padding20 fg-white">                  
    <h1 class="fg-white">                          
      <a href="/">                 
        <i class="icon-arrow-left-3 smaller fg-white"></i></a>      jsreport about</h1>          
  </div>
</div>    
<div class="container description padding20">
    <p><strong>Open source platform for designing and rendering various business reports.</strong></p>
    <p>It uses different approach than the most of the other commercial platforms. It's intention is not to provide an ultimate fancy UI with report designer like other does. Idea is that any fancy WYSIWYG editor will never be good enough to the developers. jsreport lets developers to define reports using javascript templating engines (like jsrender or handlebars).                 </p>
</div>   
<div class="grid fluid container">      
  <div class="center">                                  
    <div class="bg-grayLighter padding10">                                          
      <div class="fg-gray text-center">Developers                      
      </div>                                  
    </div>                          
  </div>          
  <div class="row center developers">	 		            
    <div class="span6 text-center place-left">               
      <img src="./img/jan-blaha.jpg" class="cycle profil" alt="Jan Blaha">		<h3>Jan Blaha</h3>		                
      <span class="job">Project Lead                
      </span>               
      <br>		                
      <a class="email" href="mailto:jan.blaha@hotmail.com">jan.blaha[at]hotmail.com</a>		                
      <a class="web" href="http://janblaha.net">www.janblaha.net</a>		                
      <a href="https://twitter.com/intent/tweet?screen_name=jan_blaha" class="twitter-mention-button" data-size="small">Tweet to @jan_blaha</a>                
<script> (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js, fjs);
              }
          })(document, 'script', 'twitter-wjs'); </script>    		                
      </span>	 		            
    </div>
     
    <div class="span6 text-center place-right divider">               
      <img src="./img/pavel-sladek.jpg" class="cycle profil" alt="Jan Blaha">		<h3>Pavel Sládek</h3>		                
      <span class="job">Designer                
      </span>               
      <br>		                
      <a class="email" href="mailto:sladek69@gmail.com">sladek69[at]gmail.com</a>		                
      </span>		 		            
    </div>	        
  </div>   
</div>	         