<div class="padding20 bg-cyan ">
    <div class="container padding20 fg-white">
        <div class="grid fluid">
            <div class="row">
                <h1 class="fg-white text-center">jsreport means innovative</h1>
            </div>
            <div class="row">
                <div class="text-center span8 offset2 padding20">
                    <p class="fg-white subtitle">
                        Combining javascript templating engines with phantomjs or fop to do pdf reports is innovative, mind blowing and jsreport way. 
                        Nobody provides such a reporting solution. We are proud to finally deliver reporting platform 
                        capable of rendering every pdf report.
                    </p>               
                </div>
            </div>
        </div>
    </div>
</div>          

<div class="grid fluid container">
    <div class="row center developers">
        <div class="span6 text-center">
            <a href="https://groups.google.com/forum/#!forum/jsreport">
                <img src="/img/groups-icon.jpg" style="height:100px;" alt="google groups" />
                <p class="subtitle">
                    <a href="https://groups.google.com/forum/#!forum/jsreport">
                        Have questions? <br/> Ask them on the mailing list at Google Groups.
                    </a>
                </p>
            </a>
        </div>
        <div class="span6 text-center pull-right">
            <a href="https://github.com/jsreport">
                <img src="/img/open-source.jpg" style="height:100px" alt="google groups" />
                <p class="subtitle">
                    <a href="https://github.com/jsreport">
                        Want to get involved? <br/> Visit GitHub, file an issue or send a pull request.
                    </a>
                </p>
            </a>
        </div>
    </div>

    <div class="top40">                                  
        <div class="bg-grayLighter padding10">                                          
            <div class="fg-gray text-center">Core part of the team
            </div>                                  
        </div>                          
    </div>          
    <div class="row center developers">	 		            
        <div class="span6 text-center place-left">               
            <img src="./img/jan-blaha.jpg" class="cycle profil" alt="Jan Blaha">		<h3>Jan Blaha</h3>		                
            <span class="job">Project Lead                
            </span>               
            <br>		                
            <a class="email" href="mailto:jan.blaha@jsreport.net">jan.blaha[at]jsreport.net</a>
            <a class="web" href="http://janblaha.net">www.janblaha.net</a>		                
            <a href="https://twitter.com/intent/tweet?screen_name=jan_blaha" class="twitter-mention-button" data-size="small">Tweet to @jan_blaha</a>                
            <script> (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
    }
})(document, 'script', 'twitter-wjs'); </script>    		                
        </div>
     
        <div class="span6 text-center place-right divider">               
            <img src="./img/pavel-sladek.jpg" class="cycle profil" alt="Jan Blaha">		<h3>Pavel Sládek</h3>		                
            <span class="job">Designer                
            </span>               
            <br>		                
            <a class="email" href="mailto:sladek69@gmail.com">sladek69[at]gmail.com</a>		                
        </div>	        
    </div>   
</div>
