<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>

        <h1 class="fg-white">buy <small>//on premise</small></h1>
    </div>
</div>

<a class="gumroad-button" id="buyGumroad" href="https://gumroad.com/l/eHNnu" style="display:none !important">Buy my product</a>

<div class="container">


    <div class="grid">

        <div class="row">
            <p class="padding20 bg-grayLighter subtitle">
                <i>This is a PREVIEW of future pricing. jsreport is currently free without any limitation.</i>
            </p>
        </div>

        <div class="row">
            <div class="span5">
                <div class="grid text-center bg-grayLighter">
                    <div class="row bg-green padding10">
                        <h2 class="fg-white">FREE</h2>
                    </div>
                    <div class="row">
                        <span class="">price</span>

                        <h3 class="">0$</h3>
                    </div>
                    <div class="row">
                        <span class="">template limitations</span>

                        <h3 class="fg-red">max 5</h3>
                    </div>
                    <div class="row">
                        <span3 class="">support</span3>
                        <h3 class="">community</h3>
                    </div>
                    <div class="row">
                        <span class="">fully featured</span>

                        <h3 class=""><span class="fg-green icon-checkmark"/></h3>
                    </div>
                    <div class="row">
                        <a href="/downloads" class="button bg-green text-center bg-hover-gray">
                            <h2 class="fg-white">Download</h2>
                        </a>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <div class="span5">
                <div class="grid text-center bg-grayLighter">
                    <div class="row bg-orange padding10">
                        <h2 class="fg-white">ENTERPRISE</h2>
                    </div>
                    <div class="row">
                        <span class="">price</span>

                        <h3 class="">495$</h3>
                    </div>
                    <div class="row">
                        <span class="">template limitations</span>

                        <h3 class="fg-green">unlimited</h3>
                    </div>
                    <div class="row">
                        <span3 class="">support</span3>
                        <h3 class="">email/skype</h3>
                    </div>
                    <div class="row">
                        <span class="">fully featured</span>

                        <h3 class=""><span class="fg-green icon-checkmark"/></h3>
                    </div>
                    <div class="row">
                        <a class="button bg-orange text-center bg-hover-gray top20 padding10" onclick="$('#buyGumroad')[0].click()">
                            <h2 class="fg-white">Buy</h2>
                        </a>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <p class="description padding20 bg-grayLighter subtitle">
                <img src="/img/github-logo-transparent.png" style="height:40px" alt="github" align="left"/>
                free enterprise for contributors <br/>
                free enterprise for all open source projects <br/>
            </p>
        </div>

        <div class="row">
            <p class="description padding20 bg-grayLighter subtitle">
                This is the pricing page for jsreport <a href="/on-prem">on premise</a> installation, pricing for <a href="/online">jsreportonline</a> can be found <a href="/online/pricing">here</a>.
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>


