<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">buy</h1>
    </div>
</div>

<div class="container">
    <div class="grid">
        <div class="row">
            <div class="padding5 span2 {{#if buyOnPrem}}bg-amber{{else}}bg-steel{{/if}} bg-hover-gray">
                <a href="/buy">
                    <div class="text-center">
                        <span class="fg-white">on premise</span>
                    </div>
                </a>
            </div>
            <div class="padding5 span2 {{#if buySupport}}bg-amber{{else}}bg-steel{{/if}} bg-hover-gray">
                <a href="/buy/support">
                    <div class="text-center">
                        <span class="fg-white">support</span>
                    </div>
                </a>
            </div>
            <div class="padding5 span2 {{#if buyOnline}}bg-amber{{else}}bg-steel{{/if}} bg-hover-gray">
                <a href="/buy/online">
                    <div class="text-center">
                        <span class="fg-white">online SaaS</span>
                    </div>
                </a>
            </div>
        </div>

        {{#if buyOnPrem}}
            {{> buy-on-prem}}
        {{/if}}

        {{#if buySupport}}
        {{> buy-support}}
        {{/if}}

        {{#if buyOnline}}
        {{> buy-online}}
        {{/if}}

    </div>
</div>

<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>


