<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

<div class='section bg-darkCyan'>
    <div class='text-center'>
        <h1 class='fg-white buy-title'>Customer details</h1>
    </div>
</div>
<div class='grid container small section'>
    <div class='row text-center'>
        <div class='fg-gray'>
            <h3>PRODUCTS</h3>
        </div>
    </div>
    <div class='row'>        
    </div>
    <script src='/js/customer.jsx'></script>
</div>
<script></script>