<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <a href="/on-prem"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">downloads</h1>
    </div>
</div>

<div class="container">
    <div class="grid">
        <div class="row">
            <div data-closeany="false" data-role="accordion" class="accordion with-marker span12 ">
                <div class="accordion-frame">
                    <a href="#" class="heading bg-lightBlue fg-white collapsed">Windows</a>
                    <div class="content">
                        <p>Download and run x64 windows installer <a href="/jsreport_x64.exe">jsreport_x64.exe</a> to host jsreport in windows service</p>
			<P>Or see <a href="http://jsreport.net/blog/jsreport-hosting-options-on-windows">following blog post</a> how to host jsreport in iis </p>
                    </div>
                </div>

                <div class="accordion-frame">
                    <a href="#" class="heading bg-green fg-white collapsed">Linux</a>
                    <div class="content">
                        <p>Please follow these steps</p>
                                            
                        <ol>
                            <li>install <strong>latest</strong> <a href="https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager">node.js</a> particular for your linux distribution.</li>
                            <li>go to console, navigate to your working directory</li>
                            <li>type <code>sudo npm install jsreport</code></li>
                            <li>type <code>sudo node node_modules/jsreport --init</code></li>
                            <li>type <code>sudo node server.js</code></li>
                            <li>open browser and see <a>https://localhost</a></li>
                        </ol>

                        <p>You may find troubleshooting guide <a href='https://github.com/jsreport/docs/tree/master/installation'>here</a>.</p>
                    </div>
                </div>
                <div class="accordion-frame">
                    <a href="#" class="heading bg-orange fg-white collapsed">Mac</a>
                    <div class="content">
                        Installation script has not been created for Mac yet. See status on github or join and collaborate: <br/>
                        <a href="https://github.com/jsreport/jsreport/issues/5">https://github.com/jsreport/jsreport/issues/5</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>