<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">
            <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
            downloads
        </h1>
    </div>
</div>

<div class="container">
    <div class="description padding20 bg-grayLighter">
        <p><strong>We</strong> are currently working on the multiplatform seamless jsreport installer. Please try first our <a href="\online">jsreport online</a> 
            service for free and we will prepare installer for you in the next couple of weeks.
        </p>
        
        <p>
            If you are eager to try to install on your own server, please do the following steps. Don't hasitate to tweet me in case of problems @jan_blaha
        </p>   
        <ol>
            <li>download and install latest <a href="http://nodejs.org/">nodejs</a></li>  
            <li>download and install latest <a href="http://www.mongodb.org">mongodb</a> and start it</li>  
            <li>cmd in your working directory <code>npm install jsreport</code></li>  
            <li>cmd in your working directory <code>cd node_modules/jsreport</code></li>  
            <li>cmd in your working directory <code>node server.js</code></li>  
        </ol>
        <p>
            Now you should have your local jsreport server running. You can try to access https://localhost in your browser and it should display jsreport
            html studio. 
        </p>
    </div>
</div>