<div class="bg-cyan main-title">       
    <div class="container padding20 fg-white">
        <a href="/playground"><i class="icon-arrow-left-3 smaller fg-white"></i></a>             
        <h1 class="fg-white">embedding</h1>     
    </div>
</div>
<div class="container">       
    <div class="description padding20 bg-grayLighter">             
        <p>
            Every one can embed jsreport for free into his website and allow internet audience to use his jsreport template 
            and render documents. Embedding allows to filter out the complexity of jsreport into just simple html form,
            where user uploads or fill input data, hit download and gets back document.
        </p>         
        <p>
            Native format for input data is json, but to make it easy to use for normal people, embeded version is able
            to internally convert text files or even excel files into json.
        </p>
        <p>
            Usage is very simple, just hit the embed button in the playground template toolbar and dialog with proper informations
            will popup.
        </p>         
    </div>  
    
    <div class="description padding20 bg-grayLighter">             
        <p>List of embedable examples</p>         
        <p>
             <a href="/examples/certificates">Certificates</a>
        </p>
    </div>  
</div>