<div class="no-phone">
    <div class="home-splash">
        <div>
            <div class="container">
                <div class="home-title">
                    <div class="birthday text-center">
                        <img width="120px" class="cake" src="/img/cake.png">
                        <h4 class="announcement fg-white">
                            <span class="announcement-text">Happy Birthday #5</span>
                            <div class="top10">
                              <span class="announcement-text">jsreport</span>
                            </div>
                        </h4>
                    </div>

                    <h1 class="fg-white">javascript reporting server</h1>

                    <p class="fg-white subtitle">innovative and unlimited reporting based on javascript templating engines
                    </p>

                    <div class="margin5 coll">
                        <a href="/playground">
                            <div class="bg-lighterBlue home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-lab fg-white"></i>
                                    <span class="fg-white">Playground</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="margin5 coll">
                        <a href="/on-prem">
                            <div class="bg-green home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-download fg-white"></i>
                                    <span class="fg-white">Download</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="margin5 coll">
                        <a href="/online">
                            <div class="bg-amber home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-cloud fg-white"></i>
                                    <span class="fg-white">Cloud</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="margin5 coll">
                        <div class="youtubeModal button-box" data-youtube="https://youtube.com/embed/mf8-SdGjsdo" data-title="jsreport introduction">
                            <div class="bg-blue home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-camera-2 fg-white"></i>
                                    <span class="fg-white">Watch Intro</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-grayLighter section">
    <div class="container articles grid3">
        <div class="text-center fg-gray title">
            <h3>HOW WE THINK ABOUT REPORTING</h3>
        </div>
        <div>
            <div class="coll3">
                <h2>Flexible</h2>

                <p class="padding-top10">
                    Just code, just javascript and html. This is enough to create pdf or excel with no limitations.
                </p>

                <div class="text-center">
                    <img alt="flexible" src="img/javascript.png" class="cycle no-background">
                </div>
            </div>
            <div class="coll3">
                <h2>Community</h2>

                <p class="padding-top10">
                    The whole platform is open and hosted on github. You can easily write your own custom extension and publish it to the community.
                </p>

                <div class="text-center">
                    <img alt="open source" src="img/github.png" class="cycle no-background">
                </div>
            </div>
            <div class="coll3">
                <h2>Run anywhere</h2>

                <p class="padding-top10">
                    No dependency on a specific platform or language. Just connect to the server and use REST API to render a report.
                </p>

                <div class="text-center">
                    <img alt="independent" src="img/api.png" class="cycle no-background">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-grayLightest">
    <div class="container grid2 fg-gray">
        <div class="text-center title">
            <h3>FEATURES</h3>
        </div>
        <div class="coll2">
            <h4>
                <i class="fg-green icon-html5-2 feature-icon"></i>Html designer</h4>

            <p>jsreport includes web based designer. Just connect with a modern browser and you are ready to design reports.
            </p>

            <h4>
                <i class="fg-green icon-file-pdf feature-icon"></i>Pdf, excel, html</h4>

            <p>Pdf, html or even excel can be produced using various underlying technologies including apache-fop, wkhtmltopdf
                or phantomjs.</p>

            <h4>
                <i class="fg-green icon-alarm-clock feature-icon"></i>Scheduling</h4>

            <p>Schedule a report rendering based on CRON plan. Then store the output, send it through an email or upload it
                to a web service.</p>

            <h4>
                <i class="fg-green icon-link feature-icon"></i>REST API</h4>

            <p>Use simple REST API to render a report from everywhere.</p>

            <h4>
                <i class="fg-green icon-user feature-icon"></i>User management</h4>

            <p>Manage multiple users and delegate permissions to them.</p>
        </div>
        <div class="coll2 video youtubeModal button-box" data-youtube="https://youtube.com/embed/mf8-SdGjsdo" data-title="jsreport introduction">
            <img alt="studio" src="/screenshots/studio.png?v=1">
        </div>
    </div>
</div>

<div class="bg-grayLighter section">
    <div class="container grid2">
        <div class="text-center fg-gray title">
            <h3>DOWNLOAD AND RUN ANYWHERE</h3>
        </div>
        <div class="coll2">
            <i class="fg-orange icon-tux download-icon"></i>
            <i class="fg-blue icon-windows download-icon"></i>

            <p>Download jsreport and use it inside your network. It runs well almost everywhere. Linux, Windows, AWS, Azure,
                OpenShift... you name it!</p>
        </div>

        <div class="coll2">
            <a href="/on-prem">
                <div class="bg-green" style="width: 250px">
                    <div class="padding5 text-center">
                        <h3 class="fg-white">Download</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="section bg-grayLightest">
    <div class="container">
        <div class="text-center fg-gray title">
            <h3>REPORTING AS A SERVICE</h3>
        </div>

        <div class="coll2">
            <i class="fg-blue icon-cloud online-icon"></i>

            <p>Start making reports online in a second without any installation required. jsreportonline is cloud hosted reporting
                service ready to be used. </p>
        </div>

        <div class="coll2">
            <a href="/online">
                <div class="bg-amber" style="width: 250px">
                    <div class="padding5 text-center">
                        <h3 class="fg-white">Sign Up / Sign In</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="bg-grayLighter section">
        <div class="container grid3">
            <div class="text-center fg-gray">
                <h3>TRUSTED</h3>
                <p>
                    100 000 server installations,
                    300 subscribed enterprise customers including...
                </p>
            </div>
            <div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/premiercrop.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/terradex.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/iterpro.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/uqam.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/dataprofit.svg' />
                </div>
                
            </div>
        </div>
    </div>

<div class="section bg-grayLightest">
    <div class="container grid3">
        <div class="text-center fg-gray title">
            <h3> EXPLORE AND LEARN</h3>
        </div>

        <div class="coll3">
            <h3>Learn section</h3>

            <p>Visit
                <a href="/learn">learn section</a> and check out the tutorials and official documentation.</p>

            <div class="text-center">
                <a href="/learn">
                    <i class="fg-blue fg-hover-red icon-book learn-icon"></i>
                </a>
            </div>
        </div>

        <div class="coll3">
            <h3>Deep dive youtube screencast</h3>

            <p>The author of jsreport shows the main features live in this screencast. </p>

            <div class="text-center">
                <a class="youtubeModal" data-youtube="https://youtube.com/embed/fhOQ0HPjK6s" data-title="Deep dive into jsreport">
                    <i class="fg-blue fg-hover-red icon-camera-2 learn-icon"></i>
                </a>
            </div>
        </div>

        <div class="coll3">
            <h3>Playground</h3>

            <p>Visit the free jsreport
                <a href="/playground">playground</a> and try the main philosophy in the online examples.
            </p>

            <div class="text-center">
                <a href="/playground">
                    <i class="fg-blue fg-hover-red icon-eye learn-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section bg-grayLighter">
    <div class="container">
        <div class="text-center fg-gray title">
            <h3>MEET US</h3>
        </div>

        <div class="text-center">
            <div class="coll">
                <a href="https://twitter.com/jan_blaha" title="twitter">
                    <div class="tile half bg-cyan">
                        <div class="tile-content icon">
                            <i class="icon-twitter"></i>
                        </div>
                    </div>
                </a>
                <a href="https://forum.jsreport.net" title="forum">
                    <div class="tile half bg-orange">
                        <div class="tile-content icon">
                            <i class="icon-comments"></i>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/jsreport" title="github">
                    <div class="tile half bg-darker">
                        <div class="tile-content icon">
                            <i class="icon-github on-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    