<div class="carousel no-phone" data-role="carousel" data-period="3500" data-duration="700">
    <div style="background: url(img/b1.png) no-repeat center #333; background-size: cover; height: 400px;">
          <div class="slide">
            <div class="container">
                <h1>Reporting platform</h1>
                <h2>Just code, Just javascript</h2>
                <h2>Open sourced</h2>
                <h2>Unlimited posibilities</h2><br>
            </div>
        </div>
    </div>

    <div class="slide">
        <div class="container">
            <h1>Solutions</h1>
            <h2>Free online fiddling tool</h2>
            <h2>Free download to On-Premise</h2>
            <h2>Cloud based SaaS</h2>
        </div>
    </div>
    
    <div class="slide">
        <div class="container">
            <h1>Quick to Learn</h1>
            <h2>Just javascript, html and popular templating engines</h2>
            <h2>No lame WYSIWYG editor</h2>
            <!--<img class="code-img" src="screenshots/example.png" alt="Just javascript"/>-->
        </div>			
    </div>		
    
    <div class="slide">
        <div class="container">
            <h1>Open Sourced</h1>
            <h2>Driven by the community</h2>
            <h2>Pull request accepted</h2>
            <h2>Github hosted</h2>
        </div>			
    </div>	
    
    <div class="slide">
        <div class="container">
            <h1>REST API</h1>
            <h2>ODATA endpoint</h2>
            <h2>C# client SDK</h2>
            <h2>Java client SDK</h2>
        </div>			
    </div>
    <a class="controls left"><i class="icon-arrow-left-5"></i></a>
    <a class="controls right"><i class="icon-arrow-right-5"></i></a>
</div>
<div class="container">
<a class="button large bg-emerald bg-hover-gray fg-white" id="createFlatWindow" style="position: absolute; margin: 0px; margin-top: -87px;">Quick Start Video<i class="icon-arrow-right-3 on-right fg-white"></i></a>
</div>
<div class="bg-cyan underbanner">
    <div class="container">
        <a href="/learn" class="fg-white">"We use jsreport for all our reports and email notifications." <i>Jan Hoeppner, Simplias GmbH</i></a>
    </div>
</div>
<div class="container">
    <div class="grid fluid">
        <div class="row">
            <a href="/playground" class="button span4 bg-emerald padding20 text-center bg-hover-gray">
                <h2 class="fg-white">Free Playground</h2>
            </a>
            <a href="/on-prem" class="button span4 bg-cyan padding20 text-center bg-hover-gray">
                <h2 class="fg-white">Download On Premise</h2>
            </a>
            <a href="/online" class="button span4 bg-magenta padding20 text-center bg-hover-gray">
                <h2 class="fg-white">Start Online</h2>
            </a>
        </div>
    </div>

    <div class="grid fluid articles">
        <div class="row">
            <div class="span4">
                <h2>Open Source</h2>
                <p><img class="cycle place-left" src="img/open-source.jpg" alt="open source">
                   This product is being developed and maintained by the open-source community in which you can participate. Whole source code base of 
                   jsreport is hosted and publicly available on <a href="https://github.com/jsreport">github</a>. Pull-requests as well as proposals 
                   to improvments are more than welcome. 
                </p>
            </div>
            <div class="span4">
                <h2>Extensible</h2>
                <p><img class="cycle place-left" src="img/extensible.jpg" alt="extensible">
                   Whole platform is assembled from separate pieces (extensions) which user can activate/deactivate. This extensions could 
                   be created by developers to extend jsreport functionality including studio user interface.</p>
            </div>
            <div class="span4">
                <h2>Quick to learn</h2>
                <p><img class="cycle place-left" src="img/javascript.png" alt="javascript">You don't need to learn anything new when using jsreport. Everything is 
                   based on well known javascript templating engines like <a href="https://github.com/BorisMoore/jsrender">jsrender</a> or 
                   <a href="http://handlebarsjs.com/">handlebars</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Html Studio</h2>
                <p><img class="cycle place-left" src="img/html.png" alt="html studio">jsreport contains extensible html-based management studio ouf of the box. Studio 
                   includes report designer as well as functionalities to manage report templates and others.</p>
            </div>
            <div class="span4">
                <h2>Output formats</h2>
                <p><img class="cycle place-left" src="img/output.png" alt="pdf recipes">jsreport is great for rendering output formats based on xml like html. 
                   It can also easily convert html into pdf using <a href="http://phantomjs.org">phantomjs</a>. Or even generate precise pdf using 
                   <a href="http://xmlgraphics.apache.org/fop">Apache FOP</a>. Output formats 
                   can be easily extended by jsreport recipes.</p>
            </div>
            <div class="span4">
                <h2>REST API</h2>
                <p><img class="cycle place-left" src="img/api.png" alt="REST API">jsreport provides whole functionality throught REST API. Since the most 
                   of the API is provided in the form of OData endpoint common frameworks from various languages could be used to consume it. 
                   <a href="/learn/API">See more</a></p>
            </div>
        </div>
    </div>
</div>
<script>
$("#createFlatWindow").on('click', function(){
    $.Dialog({
        overlay: true,
        shadow: true,
        flat: true,
        title: 'jsreport - Quick Start Tutorial',
        padding: 10,
        content: '',
        onShow: function(_dialog){
            var content = _dialog.children('.content');
            content.html('<iframe width="853" height="480" src="//www.youtube.com/embed/L7MZqwDCxP8" frameborder="0" allowfullscreen></iframe><p class="modal">This video is very basic quick start into reporting software <strong>jsreport</strong>.</p>');
        }
    });
});
</script>