<div class="no-phone">
    <div class="home-splash">
        <div>
            <div class="container">
                <div class="home-title">
                    <h1 class="fg-white">javascript reporting server</h1>

                    <p class="fg-white subtitle">innovative and unlimited reporting based on javascript templating engines
                    </p>

                    <div class="margin5 coll">
                        <a href="/showcases">
                            <div class="bg-teal home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-pictures fg-white"></i>
                                    <span class="fg-white">Showcases</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="margin5 coll">
                        <a href="/on-prem">
                            <div class="bg-green home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-download fg-white"></i>
                                    <span class="fg-white">Download</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="margin5 coll">
                        <a href="/online">
                            <div class="bg-amber home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-cloud fg-white"></i>
                                    <span class="fg-white">Cloud</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="margin5 coll">
                        <a href="/playground">
                            <div class="bg-blue home-splash-button">
                                <div class="padding10 text-center">
                                    <i class="icon-lab fg-white"></i>
                                    <span class="fg-white">Playground</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-grayLighter">
    <div class="container grid2 fg-gray">
        <div class="text-center title">
            <h3>FEATURES</h3>
        </div>
        <div class="coll2">           
            <h4>
                <i class="fg-green icon-file-pdf feature-icon"></i>pdf, excel, docx, html, csv</h4>

            <p>Various output formats can be produced just from the html and javascript</p>

            <h4>
                <i class="fg-green icon-unlocked feature-icon"></i>no limitatins, just standards</h4>

            <p>Templating engines for powerful dynamic layouts, custom javasript hooks for data fetching, full support for the latest css and javascript</p>

            <h4>
                <i class="fg-green icon-monitor feature-icon"></i>html designer</h4>
    
            <p>jsreport includes web based designer, just connect with a modern browser and you're ready to design reports
            </p> 

            <h4>
                <i class="fg-green icon-briefcase feature-icon"></i>complete set of powerfull extensions</h4>

            <p>scheduling, templates versioning, import export and backup, sub reports, users management</p>

            <h4>
                <i class="fg-green icon-link feature-icon"></i>API</h4>

            <p>Use simple REST API, CLI or SDKs to render a report from everywhere</p>
        </div>
        <div class="coll2 video youtubeModal button-box" data-youtube="https://youtube.com/embed/mf8-SdGjsdo" data-title="jsreport introduction">
            <img alt="studio" src="/screenshots/studio.png?v=1">
        </div>
    </div>
</div>

<div class=" bg-grayLightest section">
    <div class="container grid3">
        <div class="text-center fg-gray title">
            <h3>SHOWCASES</h3>
        </div>
        <div>
            <div class="coll3">
                <h3>pdf dashboard</h3>

                <p>
                    Full support for javascript and literally every charting library, no limitations
                </p>

                <div class="text-center top20 coll3-image">
                    <a href="/showcases">
                        <img src="/showcases/tasks-report-small.png" />                        
                    </a>
                </div>
            </div>
            <div class="coll3">
                <h3>pdf e-ticket</h3>

                <p>
                    Full support for the latest css, the report design can be done by every beginner developer
                </p>

                <div class="text-center top20 coll3-image">
                    <a href="/showcases">
                        <img  src="/showcases/e-ticket-small.png" />                       
                    </a>
                </div>
            </div>
            <div class="coll3">
                <h3>excel dashboard</h3>

                <p>
                    Prepare xlsx template in the desktop excel and use just html and css to fill it up
                </p>

                <div class="text-center top20 coll3-image">
                    <a href="/showcases">
                        <img  src="/showcases/excel-dashboard-small.png" />
                    </a>
                </div>
            </div>         
        </div>
    </div>
</div>

<div class="bg-grayLighter section">
    <div class="container grid2">
        <div class="text-center fg-gray title">
            <h3>DOWNLOAD AND RUN ANYWHERE</h3>
        </div>
        <div class="coll2">
            <i class="fg-orange icon-tux download-icon"></i>
            <i class="fg-blue icon-windows download-icon"></i>

            <p>Download jsreport and use it inside your network. It runs well almost everywhere. Linux, Windows, AWS, Azure,
                OpenShift... you name it!</p>
        </div>

        <div class="coll2">
            <a href="/on-prem">
                <div class="bg-green" style="width: 250px">
                    <div class="padding5 text-center">
                        <h3 class="fg-white">Download</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="section bg-grayLightest">
    <div class="container">
        <div class="text-center fg-gray title">
            <h3>REPORTING AS A SERVICE</h3>
        </div>

        <div class="coll2">
            <i class="fg-blue icon-cloud online-icon"></i>

            <p>Start making reports online in a second without any installation required. jsreportonline is cloud hosted reporting
                service ready to be used. </p>
        </div>

        <div class="coll2">
            <a href="/online">
                <div class="bg-amber" style="width: 250px">
                    <div class="padding5 text-center">
                        <h3 class="fg-white">Sign Up / Sign In</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="bg-grayLighter section">
        <div class="container grid3">
            <div class="text-center fg-gray">
                <h3>TRUSTED</h3>
                <p>
                    100 000 server installations,
                    300 subscribed enterprise customers including...
                </p>
            </div>
            <div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/premiercrop.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/terradex.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/iterpro.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/uqam.png' />
                </div>
                <div class="coll5" style='vertical-align: middle'>
                    <img width='150px' src='/img/references/dataprofit.svg' />
                </div>
                
            </div>
        </div>
    </div>

<div class="section bg-grayLightest">
    <div class="container grid3">
        <div class="text-center fg-gray title">
            <h3> EXPLORE AND LEARN</h3>
        </div>

        <div class="coll3">
            <h3>Learn section</h3>

            <p>Visit
                <a href="/learn">learn section</a> and check out the tutorials and official documentation.</p>

            <div class="text-center coll3-image">
                <a href="/learn">
                    <i class="fg-blue fg-hover-red icon-book learn-icon"></i>
                </a>
            </div>
        </div>

        <div class="coll3">
            <h3>Deep dive youtube screencast</h3>

            <p>The author of jsreport shows the main features live in this screencast. </p>

            <div class="text-center coll3-image">
                <a class="youtubeModal" data-youtube="https://youtube.com/embed/fhOQ0HPjK6s" data-title="Deep dive into jsreport">
                    <i class="fg-blue fg-hover-red icon-camera-2 learn-icon"></i>
                </a>
            </div>
        </div>

        <div class="coll3">
            <h3>Playground</h3>

            <p>Visit the free jsreport
                <a href="/playground">playground</a> and try the main philosophy in the online examples.
            </p>

            <div class="text-center coll3-image">
                <a href="/playground">
                    <i class="fg-blue fg-hover-red icon-eye learn-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section bg-grayLighter">
    <div class="container">
        <div class="text-center fg-gray title">
            <h3>MEET US</h3>
        </div>

        <div class="text-center">
            <div class="coll">
                <a href="https://twitter.com/jan_blaha" title="twitter">
                    <div class="tile half bg-cyan">
                        <div class="tile-content icon">
                            <i class="icon-twitter"></i>
                        </div>
                    </div>
                </a>
                <a href="https://forum.jsreport.net" title="forum">
                    <div class="tile half bg-orange">
                        <div class="tile-content icon">
                            <i class="icon-comments"></i>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/jsreport" title="github">
                    <div class="tile half bg-darker">
                        <div class="tile-content icon">
                            <i class="icon-github on-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
    