<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <a href="/online"><i class="icon-arrow-left-3 smaller fg-white"></i></a>

        <h1 class="fg-white">jsreport online <small>// pricing</small></h1>       
    </div>
</div>

<div class="container">
    <div class="grid fluid">
        <div class="row">
            <div class="span3">
                <button class="span12 bg-green padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">FREE</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>
                    <h3 class="fg-white">0 $ / no card</h3>
                    <hr>
                    <span class="fg-white">monthly credits *</span>
                    <h3 class="fg-white">200</h3>
                </button>
            </div>

            <div class="span3">
                <button class="span12 bg-teal padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">BRONZE</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>
                    <h3 class="fg-white">9.95 $</h3>
                    <hr>
                    <span class="fg-white">monthly credits *</span>
                    <h3 class="fg-white">10 000</h3>
                </button>
            </div>

            <div class="span3">
                <button class="span12 bg-steel padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">SILVER</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>
                    <h3 class="fg-white">99.95 $</h3>
                    <hr>
                    <span class="fg-white">monthly credits *</span>
                    <h3 class="fg-white">100 000</h3>
                </button>
            </div>

            <div class="span3">
                <button class="span12 bg-yellow padding20 text-center bg-hover-gray">
                    <h2 class="fg-white">GOLD</h2>
                    <hr>
                    <span class="fg-white">monthly price</span>
                    <h3 class="fg-white">299.95 $</h3>
                    <hr>
                    <span class="fg-white">monthly report credits *</span>
                    <h3 class="fg-white">300 000</h3>
                </button>
            </div>
        </div>

        <div class="row">
            <p class="description padding20 bg-grayLighter">
                *
                <br>
                A report credit means in fact one report.  Only for pdf reports with more than five pages you get charged extra one credit for every additional five pages.
                <br>
                <i>Prices are subject of change and can be modified in the future.</i>
                <br>
            </p>
            <p class="description padding20 bg-grayLighter">
                <img src="/img/github-logo-transparent.png" style="height:60px" alt="github" align="left"/>
                jsreport is completely open sourced solution and every contributor will get an discount to jsreport online.
                Aren't you contributor yet and want a discount? Visit jsreport <a href="https://github.com/jsreport/jsreport"> github repository </a>
                and fix a bug or even just submit one. You can also write an article about jsreport and let us now about it. <a href="/about">Contact us</a>
                and ask for an discount.
            </p>
            <p class="description padding20 bg-grayLighter">
                jsreport online service has no troubles with rendering millions of reports per month. If this is your case, don't hesitate to <a href="/about">contact us</a> for special offer.
            </p>
        </div>
    </div>
</div>