<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">
            <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
            jsreport online
        </h1>
    </div></div>

<div class="container">
    <p>jsReport online version can be used without any previous instalation. Just create a free acount at jsreportonline.net, define your 
        reports, connect to REST API from any language and generate fabulous reports.</p>
    
    <a href="https://jsreportonline.net" class="button span4 bg-emerald text-center">
        <h2 class="fg-white">Free Register/Sign In</h2>
    </a>
</div>