<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">jsreport online</h1>
    </div>
</div>

<div class="container">
    <div class="grid top40">
        <div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">NO INSTALLATION</div> 
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">PAY AS YOU GO</div>
                </div>
                <div class="row">
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">CLOUD HOSTED</div> 
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">HIGH AVAILABILITY</div> 
                </div>
                <div class="row">
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">AUTOMATIC BACKUP</div> 
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">DEDICATED SUBDOMAIN</div> 
                </div>
            </div> 
            <div class="span6 offset2">
                 <img src="/img/online-schema.png"/>
            </div>        
                
        </div> 
    </div>

    <div class="description padding20 bg-grayLighter">
        <div class="text-center">
            <a href="https://jsreportonline.net" class="button padding20 bg-emerald text-center bg-hover-gray top40">
                <h2 class="fg-white">Free Register<i class="icon-arrow-right-3 on-right fg-white"></i></h2>
            </a>
        </div>

        <p>jsreport online version can be used without any previous instalation. Just create a free acount, define your 
            reports, connect to <a href="/learn/api">REST API</a> from any language and generate fabulous reports.</p>
        
        <p>The most popular extensions from the community are provided out of the box in jsreport online without any installation needed.
            You can embed images, generate pdf by phantom, export and import your templates or use other extensions. If you want a full
            control and write your own extensions. Use <a href='\on-prem'>jsreport on premise</a>
        </p>
    </div>
</div>