<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">jsreport online <small>// pdf reports as a service</small></h1>
    </div>
</div>

<div class="container">
    <div class="grid top40">
        <div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">NO INSTALLATION</div> 
                    <div class="span2 bg-darkOrange padding20 marker-on-bottom fg-white text-center bg-hover-gray">
                        <a href="/online/pricing" class="fg-white">SIMPLE PRICING<i class="icon-arrow-right-3 on-right fg-white"></i></a></div>
                </div>
                <div class="row">
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">CLOUD HOSTED</div> 
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">HIGH AVAILABILITY</div> 
                </div>
                <div class="row">
                    <div class="span2 bg-amber padding20 marker-on-bottom fg-white text-center">AUTOMATIC BACKUP</div> 
                    <div class="span2 bg-darkOrange padding20 marker-on-bottom fg-white text-center bg-hover-gray">
                        <a href="https://jsreportonline.a.offsitestatus.com" class="fg-white">STATUS PAGE<i class="icon-arrow-right-3 on-right fg-white"></i></a>
                    </div>
                </div>
            </div> 
            <div class="span6 offset2">
                 <img src="/img/online-schema.png"/>
            </div>        
                
        </div> 
    </div>

    <div class="text-center top40">
        <a href="https://jsreportonline.net" class="button bg-emerald fg-white margin10 text-center span4 bg-hover-gray" style="padding: 0px">
            <h2 class="fg-white">Sign In / Sign Up</h2>
            <div class="bg-green padding5">
                <div><i class="icon-checkmark"></i> Proven solution</div>
                <div>> 2 mil reports generated</div>
            </div>
        </a>
    </div>

    <div class="description padding20 bg-grayLighter ">
        <p class="subtitle">jsreport online version can be used without any previous installation. Just create a free account, define your
            reports, connect to <a href="/learn/api">REST API</a> from any language and generate reports.
            It is free for 200 reports per month or you can choose from one of the <a href="/online/pricing">enterprise plans.</a>
        </p>
        
        <p class="subtitle">
            The most popular extensions from the community are provided out of the box in jsreport online without any installation needed.
            Additionally service's cloud infrastructure grows with you so you have nothing to worry about.
        </p>
    </div>
</div>