<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
        <h1 class="fg-white">jsreport on premise</h1>
    </div>
</div>
<div class="container">
    <div class="grid top40">
        <div class="row">
            <div class="span4">
                <div class="row">
                    <div class="span2 bg-magenta padding20 marker-on-bottom fg-white text-center">SOURCE CONTROL INTEGRATION</div> 
                    <div class="span2 bg-magenta padding20 marker-on-bottom fg-white text-center">WRITE YOUR OWN EXTENSIONS</div>
                </div>
                <div class="row">
                    <div class="span2 bg-magenta padding20 marker-on-bottom fg-white text-center">FREE DOWNLOAD</div> 
                    <div class="span2 bg-magenta padding20 marker-on-bottom fg-white text-center">EMBEDED DATABASE</div> 
                </div>
                <div class="row">
                    <div class="span2 bg-magenta padding20 marker-on-bottom fg-white text-center">PLATFORM INDEPENDENT</div> 
                    <div class="span2 bg-magenta padding20 marker-on-bottom fg-white text-center">FULL CONTROL</div> 
                </div>
            </div> 
            <div class="span6 offset2">
                <img src="/img/onprem-schema.png"/>
            </div>        
                
        </div> 
    </div>

    <div class="description padding20 bg-grayLighter">
        <div class="text-center">
            <a href="/downloads" class="button span4 bg-emerald text-center bg-hover-gray top40">
                <h2 class="fg-white">Free Download<i class="icon-cloud-2 on-right fg-white"></i></h2>
            </a>
        </div>

        <p>You can choose if you want to use jsreport <a href="/online">online in the cloud</a> or if you want to install it on your own 
            server. jsreport on premise version allows you to download and install jsreport to your own server. You can use jsreport 
            on premise without any limitations. You can also write your own extensions and use them on your local installation.
        </p>
    </div>

        
</div>