<div class="bg-cyan main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">
            <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
            jsreport on premise
        </h1>
    </div>
</div>
<div class="container">
        <div class="grid top40">
              <div class="row">   
                <div class="span5 notice bg-magenta marker-on-bottom fg-white text-center">                               
                    DOWNLOAD AND RUN ON YOUR SERVER     
                </div>                   
                       
                <div class="span4 notice bg-teal marker-on-bottom fg-white text-center">                               
                    WRITE YOUR OWN EXTENSION)          
                </div>                   
                        
                <div class="span5 notice bg-cyan marker-on-bottom fg-white text-center">                               
                    FREE DOWNLOAD 
                </div>             
        </div> 
    </div>

    <div class="description padding20 bg-grayLighter">
        <p><strong>You</strong> can choose if you want to use jsreport <a href="/online">online in the cloud</a> or if you want to install it to your own 
            server. jsreport on premise version allows you to download and install jsreport to your own server. You can use jsreport 
            on premise without any limitations. You can also write your own extensions and use it on your local installation. See 
            the <a href="/learn">documentation</a>.
        </p>
    </div>
    
    <div align="center">
        <a href="/downloads" class="button span4 bg-emerald text-center bg-hover-gray top40">
            <h2 class="fg-white">Free Download<i class="icon-cloud-2 on-right fg-white"></i></h2>
        </a>
    </div>
        
</div>