<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">
            <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
            jsreport playground
        </h1>
    </div></div>
<div class="container">
    <p>Playground is very lightweight version of jsReport. It's available for free to any anonymous user to try and share any custom report. 
        It also includes collection of examples to quick start with platform.</p>

    <p>Playground is jsReport great for fiddling. Go ahead and try it.</p>

    <a href="https://playground.jsreport.net" class="button span4 bg-emerald text-center">
        <h2 class="fg-white">Go to free fiddling tool</h2>
    </a>
</div>