<div class="bg-cyan main-title">       
    <div class="container padding20 fg-white">             
        <h1 class="fg-white">                   
            <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>            playground 
            <a href="https://playground.jsreport.net" class="button text-center span4 bg-emerald bg-hover-gray place-right">
                <h2 class="fg-white">START       
                    <i class="icon-arrow-right-3 on-right fg-white"></i></h2>                 
            </a>    
        </h1>     
    </div>
</div>
<div class="container">       
    <div class="description padding20 bg-grayLighter">             
        <p><a href="https://playground.jsreport.net"><strong>Playground</strong></a> is very lightweight version of jsreport. It's available for free to try and share any custom report.  
            It also includes collection of examples to quick start with platform.  It's great when you are new into jsreport or you want to share 
            some templates or ideas with other developers.              
        </p>                         
    </div>  
    
    <div class="description padding20 bg-grayLighter">             
        <p><a href="/learn/get-started"><strong>Get started</strong></a> article will give you basic knowledge of jsreport concepts.
        </p>                         
    </div> 
    
    <div class="description padding20 bg-grayLighter">             
        <p>Everyone can <a href="/embedding"><strong>embed</strong></a>  jsreport into his website and allow public audience to generate documents. Users just upload excel sheet  or 
            fill simple html form and get back pdf certificate, wedding announcment, filled postcard. Fantasy is unlimited here. Read 
            <a href="/embedding">more.</a>
        </p>                         
    </div>  
   
    <div class="grid fluid top40">             
        <div class="row">                   
            <div class="span4">                         
                <div class="notice bg-magenta marker-on-bottom">                               
                    <div class="fg-white text-center">CREATE custom report for free online           
                    </div>                         
                </div>                   
            </div>                        
            <div class="span4">                         
                <div class="notice bg-teal marker-on-bottom">                               
                    <div class="fg-white text-center">SHARE reports with others          
                    </div>                         
                </div>                   
            </div>                                
            <div class="span4">                         
                <div class="notice bg-cyan marker-on-bottom">                               
                    <div class="fg-white text-center">EMBED templates to your pages 
                    </div>                         
                </div>                   
            </div>             
        </div>             
        <div class="row">
            <div class="carousel" data-role="carousel" data-period="3500" data-duration="700">
                <div class="slide">
                    <img src="./screenshots/playground.png"/>  
                </div>
                <a class="controls left"><i class="icon-arrow-left-3"></i></a>
                <a class="controls right"><i class="icon-arrow-right-3"></i></a>
            </div>                   
         
        </div>       
    </div>      
</div>