<div class="bg-cyan no-tablet-portrait no-phone main-title">
    <div class="container padding20 fg-white">
        <h1 class="fg-white">
            <a href="/"><i class="icon-arrow-left-3 smaller fg-white"></i></a>
            playground
        </h1>
    </div></div>
<div class="container">
    <div class="description padding20 bg-grayLighter">
        <p>Playground is very lightweight version of jsreport. It's available for free to try and share any custom report.  It also includes 
            collection of examples to quick start with platform.  It's great when you are new into jsreport or you want to share some
            templates or ideas with other developers.
        </p>
        
        <div>
            <a href="https://playground.jsreport.net" class="button span2 bg-emerald text-center">
                <h5 class="fg-white">GO&nbsp;<i class="icon-arrow-right-3 large"></i></h5>
            </a> </div>
      
    </div>
    <div class="grid fluid">
        <div class="row">
            <div class="span4">
                <div class="notice marker-on-bottom">
                    <div class="fg-white text-center">Create custom report for free online</div>
                </div>
            </div>
    
            <div class="span4">
                <div class="notice bg-amber marker-on-bottom">
                    <div class="fg-white text-center">Share reports with others</div>
                </div>
            </div>
            
            <div class="span4">
                <div class="notice bg-lime marker-on-bottom">
                    <div class="fg-white text-center">Learn jsreport from examples</div>
                </div>
            </div>
        </div>
        <div class="row">
            <img src="/screenshots/playground.png"/>
        </div>
    </div>
    

</div>