<div class="bg-cyan main-title">
  <div class="container padding20 fg-white">
    <h1 class="fg-white">showcases</h1>
  </div>
</div>

<div class="bg-grayLighter section">
  <div class="container">
    <div class="grid">
      <div class="row">          
        <div class="span6">
          <h2 id="e-tickets">pdf dashboard</h2>
          Templating engine like handlebars can be used to dynamically assemble the dashboard tables.
          Literally every javacsript library can be used to display dynamic charts. No limitations.       
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/jan_blaha/Mky3MeRp"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/tasks-report.pdf" download>
            <img width="300px" src="/showcases/tasks-report.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-grayLightest section">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="span6">
          <h2 id="e-tickets">pdf e-ticket</h2>
          The jsreport pdf renderer has full support for the latest css and javascript.
          This means implementing an invoice or an e-ticket can be done by every beginner developer just with basic css and html knowledge.
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/jan_blaha/us3ul3y9"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/e-ticket.pdf" download>
            <img src="/showcases/e-ticket.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-grayLighter section">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="span6">
          <h2 id="e-tickets">excel dashboard</h2>
          Prepare xlsx template using destkop excel application. Upload it to the jsreport and use simple html and css to do the rest. 
          jsreport takes care of transformating your html tables into the final excel report.         
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/jan_blaha/sO6JrGvs"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/excel-dashboard.pdf" download>
            <img width="300px" src="/showcases/excel-dashboard.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="bg-grayLightest section">
  <div class="container">
    <div class="grid">
      <div class="row">
        <h2 id="pdf-complex">complex pdf documents</h2>
        comming soon...
      </div>
    </div>
  </div>
</div>
-->