<div class="bg-cyan main-title">
  <div class="container padding20 fg-white">
    <h1 class="fg-white">showcases</h1>
  </div>
</div>

<div class="bg-grayLighter section">
  <div class="container">
    <div class="grid">
      <div class="row">          
        <div class="span6">
          <h2 id="stock-report">pdf stock report</h2>
          jsreport can render very complex pdf documents. It can render table of contents, bookmarks or truly dynamic headers.
          All of this can be done just with basic html and javascript knowledge.
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/admin/dI2_fUqZ"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/stock-report.pdf" download>
            <img width="300px" src="/showcases/stock-report.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-grayLightest section">
  <div class="container">
    <div class="grid">
      <div class="row">          
        <div class="span6">
          <h2 id="tasks-report">pdf dashboard</h2>
          Templating engine like handlebars can be used to dynamically assemble the dashboard tables.
          Literally every javascript library can be used to display dynamic charts. No limitations.       
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/admin/cBFKE3RY"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/tasks-report.pdf" download>
            <img width="300px" src="/showcases/tasks-report.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-grayLighter section">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="span6">
          <h2 id="e-tickets">pdf e-ticket</h2>
          The jsreport pdf renderer has full support for the latest css and javascript.
          This means implementing an invoice or an e-ticket can be done by every beginner developer just with basic css and html knowledge.
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/admin/ms2EkdfI"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/e-ticket.pdf" download>
            <img src="/showcases/e-ticket.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-grayLightest section">
  <div class="container">
    <div class="grid">
      <div class="row">
        <div class="span6">
          <h2 id="excel-dashboard">excel dashboard</h2>
          Prepare xlsx template using destkop excel application. Upload it to the jsreport and use simple html and css to do the rest. 
          jsreport takes care of transformating your html tables into the final excel report.         
          <div class="top10">
            <a
              href="https://playground.jsreport.net/w/admin/VvaGnaE_"
              target="_blank"
            >
              <button class="span3 text-left bg-green padding10 bg-hover-gray">
                <span class="fg-white">
                  live code in playground
                  <i class="icon-arrow-right-3 place-right fg-white"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="span6">
          <a href="/showcases/excel-dashboard.xlsx" download>
            <img width="300px" src="/showcases/excel-dashboard.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>