.documentation {
    margin-top: 20px;
}

.documentation p, li, ul {
    font-size: 16px;
    color:  rgba(0, 0, 0, 0.87);
}

.documentation blockquote{padding:10px 20px;margin:0 0 20px;border-left:5px solid rgba(102,128,153,0.075)}
.documentation blockquote p{font-weight:300;line-height:1.25}
.documentation blockquote p:last-child{margin-bottom:0}
.documentation blockquote small{display:block;line-height:1.428571429;color:#999}blockquote small:before{content:'\2014 \00A0'}
.documentation blockquote.pull-right{padding-right:15px;padding-left:0;border-right:5px solid rgba(102,128,153,0.075);border-left:0}blockquote.pull-right p,blockquote.pull-right small{text-align:right}
.documentation blockquote.pull-right small:before{content:''}
.documentation blockquote.pull-right small:after{content:'\00A0 \2014'}
.documentation q:before,.documentation q:after,.documentation blockquote:before,.documentation blockquote:after{content:""}
.documentation address{display:block;margin-bottom:20px;font-style:normal;line-height:1.428571429}

.documentation-wrap h1 {display:inline; font-size: 35px; }
.documentation a code{color:inherit}
.documentation h1{font-size: 36px;color: #0077aa; font-family: 'Open Sans',"Trebuchet MS",Helvetica,sans-serif; font-weight: 500; line-height: 1.1;}
.documentation h2{font-size:24px;color: #0077aa; font-family: 'Open Sans',"Trebuchet MS",Helvetica,sans-serif; font-weight: 500; line-height: 1.1;}
.documentation h3{font-size: 20px;color: #0077aa; font-family: 'Open Sans',"Trebuchet MS",Helvetica,sans-serif; font-weight: 500; line-height: 1.1;}
.documentation h4{font-size:16px;color: #0077aa; font-family: 'Open Sans',"Trebuchet MS",Helvetica,sans-serif; font-weight: 500; line-height: 1.1;}
.documentation h5{font-size:14px;color: #0077aa; font-family: 'Open Sans',"Trebuchet MS",Helvetica,sans-serif; font-weight: 500; line-height: 1.1;}
.documentation h6{font-size:12px;color: #0077aa; font-family: 'Open Sans',"Trebuchet MS",Helvetica,sans-serif; font-weight: 500; line-height: 1.1;}
.documentation h1{margin:60px 0 40px}
.documentation h2{margin:50px 0 30px}
.documentation h3{margin:35px 0 20px}
.documentation h4,.documentation h5,.documentation h6{margin:25px 0 15px}

.documentation-wrap .main-title a {
    font-size: 35px;
    padding-right: 10px;
}

.documentation p,.documentation blockquote{margin:0 0 15px}
.documentation hr{margin:30px 0}
.documentation dt,.documentation dd{margin-top:5px;margin-bottom:5px}
.documentation dd{margin-left:40px}
.documentation table{margin-bottom:20px}
.documentation table th,.documentation table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd}
.documentation table th{font-weight:bold}
.documentation table thead th{vertical-align:bottom}
.documentation table caption+thead tr:first-child th,table caption+thead tr:first-child td,table colgroup+thead tr:first-child th,table colgroup+thead tr:first-child td,table thead:first-child tr:first-child th,table thead:first-child tr:first-child td{border-top:0}
.documentation table tbody+tbody{border-top:2px solid #dddddd}
.documentation blockquote{border-left-width:10px;background-color:rgba(102,128,153,0.05);border-top-right-radius:5px;border-bottom-right-radius:5px;padding:15px 20px}blockquote p{margin-bottom:15px;font-size:14px;line-height:1.428571429}
.documentation blockquote ul:last-child,.documentation blockquote ol:last-child{margin-bottom:0}
.documentation ul,.documentation ol{margin-bottom:15px}ul ul,ol ul,ul ol,ol ol{margin-bottom:15px}
.documentation kbd{padding:0.1em 0.6em;border:1px solid rgba(22,32,41,0.25);-webkit-box-shadow:0 1px 0 rgba(22,32,41,0.25);box-shadow:0 1px 0 rgba(22,32,41,0.25);font-size:11px;font-family:Arial,Helvetica,sans-serif;background-color:#fff;color:#333;border-radius:3px;display:inline-block;margin:0 0.1em;white-space:nowrap}
 
 .documentation .footer-icon {
  font-size:24px
}

.documentation code{padding:2px 4px;font-size:14px;color:#162029;background-color:rgba(102,128,153,0.075);white-space:nowrap;border-radius:4px}

 /**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */
  
  .documentation pre > code,
  .documentation code[class*="lang-"],
  .documentation pre[class*="lang-"] {      
    font-size: 13px;
    color: #a4bdd1 !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
    background: #2B3A42;
    display: block;
  }
  
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #7C7C7C;
  }
  
  .token.punctuation {
    color: #c5c8c6;
  }
  
  .namespace {
    opacity: .7;
  }
  
  .token.property,
  .token.keyword,
  .token.tag {
    color: #96CBFE;
  }
  
  .token.class-name {
    color: #FFFFB6;
    text-decoration: underline;
  }
  
  .token.boolean,
  .token.constant {
    color: #99CC99;
  }
  
  .token.symbol,
  .token.deleted {
    color: #f92672;
  }
  
  .token.number {
    color: #AA73FD;
  }
  
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #5dc287;
  }
  
  .token.variable {
    color: #C6C5FE;
  }
  
  .token.operator {
    color: #EDEDED;
  }
  
  .token.entity {
    color: #FFFFB6;
    /* text-decoration: underline; */
  }
  
  .token.url {
    color: #96CBFE;
  }
  
  .lang-css .token.string,
  .style .token.string {
    color: #87C38A;
  }
  
  .token.atrule,
  .token.attr-value {
    color: #F9EE98;
  }
  
  .token.function {
    color: #DAD085;
  }
  
  .token.regex {
    color: #E9C062;
  }
  
  .token.important {
    color: #fd971f;
  }
  
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  
  .token.italic {
    font-style: italic;
  }
  
  .token.entity {
    cursor: help;
  }