/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

.documentation html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
        
        /* HTML5 display-role reset for older browsers */

.documentation article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

.documentation ol, ul { list-style: none; }

.documentation blockquote, q { quotes: none; }

.documentation blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

.documentation table {
    border-collapse: collapse;
    border-spacing: 0;
}

.documentation {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
}

.documentation div,
span,
p {
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.documentation p {
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.documentation > *:first-child { margin-top: 0 !important; }

.documentation > *:last-child { margin-bottom: 0 !important; }

.documentation a { color: #4183C4; }

.documentation a.absent { color: #cc0000; }

.documentation a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.documentation h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.documentation h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
    background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
    text-decoration: none;
}

.documentation h1 tt, h1 code { font-size: inherit; }

.documentation h2 tt, h2 code { font-size: inherit; }

.documentation h3 tt, h3 code { font-size: inherit; }

.documentation h4 tt, h4 code { font-size: inherit; }

.documentation h5 tt, h5 code { font-size: inherit; }

.documentation h6 tt, h6 code { font-size: inherit; }

.documentation h1 {
    font-size: 28px;
    color: black;
}

.documentation h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
}

.documentation h3 { font-size: 18px; }

.documentation h4 { font-size: 16px; }

.documentation h5 { font-size: 14px; }

.documentation h6 {
    color: #777777;
    font-size: 14px;
}

.documentation p, blockquote, ul, ol, dl, li, table, pre { margin: 15px 0; }

.documentation hr {
    background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
}

.documentation body > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

.documentation body > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

.documentation body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

.documentation body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.documentation a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.documentation h1 p, h2 p, h3 p, h4 p, h5 p, h6 p { margin-top: 0; }

.documentation li p.first { display: inline-block; }

.documentation ul, ol { padding-left: 30px; }

.documentation ul :first-child, ol :first-child { margin-top: 0; }

.documentation ul :last-child, ol :last-child { margin-bottom: 0; }

.documentation dl { padding: 0; }

.documentation dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

.documentation dl dt:first-child { padding: 0; }

.documentation dl dt > :first-child { margin-top: 0; }

.documentation dl dt > :last-child { margin-bottom: 0; }

.documentation dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

.documentation dl dd > :first-child { margin-top: 0; }

.documentation dl dd > :last-child { margin-bottom: 0; }

.documentation blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

.documentation blockquote > :first-child { margin-top: 0; }

.documentation blockquote > :last-child { margin-bottom: 0; }

.documentation table { padding: 0; }

.documentation table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.documentation table tr:nth-child(2n) { background-color: #f8f8f8; }

.documentation table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.documentation table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}

.documentation table tr th :first-child, table tr td :first-child { margin-top: 0; }

.documentation table tr th :last-child, table tr td :last-child { margin-bottom: 0; }

.documentation img { max-width: 100%; }

.documentation span.frame {
    display: block;
    overflow: hidden;
}

.documentation span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

.documentation span.frame span img {
    display: block;
    float: left;
}

.documentation span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

.documentation span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.documentation span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

.documentation span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.documentation span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.documentation span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

.documentation span.align-right span img {
    margin: 0;
    text-align: right;
}

.documentation span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

.documentation span.float-left span { margin: 13px 0 0; }

.documentation span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

.documentation span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

.documentation code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.documentation pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.documentation .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.documentation pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.documentation pre code, pre tt {
    background-color: transparent;
    border: none;
}
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.documentation .hljs {
    display: block;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8
}

.documentation .hljs-comment,
.documentation .hljs-template_comment,
.documentation .diff .hljs-header,
.documentation .hljs-javadoc {
    color: #998;
    font-style: italic
}

.documentation .hljs-keyword,
.documentation .css .rule .hljs-keyword,
.documentation .hljs-winutils,
.documentation .javascript .hljs-title,
.documentation .nginx .hljs-title,
.documentation .hljs-subst,
.documentation .hljs-request,
.documentation .hljs-status {
    color: #333;
    font-weight: bold
}

.documentation .hljs-number,
.documentation .hljs-hexcolor,
.documentation .ruby .hljs-constant { color: #099; }

.documentation .hljs-string,
.documentation .hljs-tag .hljs-value,
.documentation .hljs-phpdoc,
.documentation .tex .hljs-formula { color: #d14 }

.documentation .hljs-title,
.documentation .hljs-id,
.documentation .coffeescript .hljs-params,
.documentation .scss .hljs-preprocessor {
    color: #900;
    font-weight: bold
}

.documentation .javascript .hljs-title,
.documentation .lisp .hljs-title,
.documentation .clojure .hljs-title,
.documentation .hljs-subst { font-weight: normal }

.documentation .hljs-class .hljs-title,
.documentation .haskell .hljs-type,
.documentation .vhdl .hljs-literal,
.documentation .tex .hljs-command {
    color: #458;
    font-weight: bold
}

.documentation .hljs-tag,
.documentation .hljs-tag .hljs-title,
.documentation .hljs-rules .hljs-property,
.documentation .django .hljs-tag .hljs-keyword {
    color: #000080;
    font-weight: normal
}

.documentation .hljs-attribute,
.documentation .hljs-variable,
.documentation .lisp .hljs-body { color: #008080 }

.documentation .hljs-regexp { color: #009926 }

.documentation .hljs-symbol,
.documentation .ruby .hljs-symbol .hljs-string,
.documentation .lisp .hljs-keyword,
.documentation .tex .hljs-special,
.documentation .hljs-prompt { color: #990073 }

.documentation .hljs-built_in,
.documentation .lisp .hljs-title,
.documentation .clojure .hljs-built_in { color: #0086b3 }

.documentation .hljs-preprocessor,
.documentation .hljs-pragma,
.documentation .hljs-pi,
.documentation .hljs-doctype,
.documentation .hljs-shebang,
.documentation .hljs-cdata {
    color: #999;
    font-weight: bold
}

.documentation .hljs-deletion { background: #fdd }

.documentation .hljs-addition { background: #dfd }

.documentation .diff .hljs-change { background: #0086b3 }

.documentation .hljs-chunk { color: #aaa }