.metro p, ul, li, code {
	font-size: 16px;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0.01rem;
	line-height: 1.4;
	color:  rgba(0, 0, 0, 0.80);
}

.metro p.subtitle {
	color: #000;
	font-size: 11pt;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 15pt;
	margin: 0 0 7pt;
}


a:hover {
	text-decoration: none;
}
.articles img {
	width: 80px;
	height: 80px;
	margin: 5px;
}
.underbanner {
	padding: 11px;
	text-align: right;
}
.carousel {
	height: 480px;
}
.metro .carousel .markers li.active a {
	background-color: #555;
}
.tertiary-text {
	font-size: 11px;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	text-align: left;
	font-size: 12px;
	padding: 20px;
}
.brand-logo {
	display: block;
	width: 129px;
	height: 26px;
	background: url(../img/js-logo.png) no-repeat;
	margin-top: -5px;
}
.main-title {
	/*margin-bottom: 20px;*/
}
/* About Us page */
.developers {
	margin: 0 auto;
	padding-top: 30px;
}
.developers h3 {
	color: #333;
}
img.profil {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}
.job {
	display: block;
	margin-top: -6px;
	font-size: 12px;
	font-style: italic;
	color: #888;
}
.email, .web {
	display: block;
	font-size: 13px;
	color: #888;
	padding: 2px;
}
.divider {
	margin: 0 auto;
	border-left: 1px solid #ddd;
}
.twitter-mention-button {
	margin-top: 4px;
}

.top40 {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.top20 {
	margin-top: 20px;
}

.top80 {
	margin-top: 80px;
}

.center {
	margin: 0 auto;
}

.slide .container {
	padding: 30px 0px;
}

.slide .container h1,
.slide .container h2 {
	color: #fff;
}

.top10 {
	margin-top: 10px;
}

.code-img {margin-top: 5px;}

.listview-outlook {
	margin-top: 20px;
	margin-bottom: 20px;
}

.carousel h2 {
	font-size: 19px;
	margin: 5px;
	padding: 0px;
}

/* Modal - Quick Start video */
.metro .window.flat{
	background: #f9f9f9;
}

p.modal {
	margin-top: 10px;
	text-align: center;
}

.slide .container h1 {
	margin-bottom: 20px;
}

.samples-img {
	margin-bottom: 10px;
}

.main-title a {
	font-size: 35px;
	padding-right: 15px;
}

.main-title h1 {
	display: inline;
}

.pull-left {
	float: left
}

.pull-right {
	float: right !important;
}

.about-box {
	margin-top: -20px;
}

.metro .home .bg-homeGray {
	background-color: #888;
}

.metro .home .grid, .metro .home .grid .row {
	margin: 0;
}

.tile-content-back {
	display: none;
	padding: 10px;
}

.metro .tile.thin {
	height: 65px;
	width: 200px;
}

.metro .tile.thin .tile-content-multiline {
	padding: 10px;
}

.metro .tile.thin .tile-content {
	height: 65px;
	line-height: 65px;
	padding-left: 10px;
	vertical-align: middle;
}


.metro .notice {
	height: 65px;
	padding: 10px;
}

.tile-text {
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
}

.metro .notice.marker-no:before {
	width: 0px;
}

.youtube {
	font-size: larger;
	padding: 2px 4px 2px 4px;
	border-radius:4px
}

.feature-icon {
	font-size: 2.1em !important;
	margin-right: 8px;
}

.section .no-background {
	background-color: transparent !important;
	margin-left: -55px !important;
	border: 0px !important;
}

.home-splash {
	background: url(/img/home.jpg?v=5) no-repeat center #333;
	background-size: cover;
	height: 550px;
	padding-top:200px;
}

.home-title {
	background-color: rgba(65, 65, 65, 0.8);
	width: 700px;
	padding: 20px
}

.home-splash-button {
	width: 150px;
}

.coll {
	display:inline-block;
}

.padding-top10 {
	padding-top:10px;
}

.padding-top5 {
	padding-top:5px;
}

.learn-icon {
	font-size:3.8em !important;
	cursor:pointer;
	margin-left: -35px;
}

.online-icon {
	font-size: 5.8em !important; float:left;margin-top:-20px; margin-right: 15px
}

.download-icon {
	font-size: 3.8em !important; float:left;margin-top:-20px; margin-right: 15px
}

.grid3 {
}

.coll3 {
	display: inline-block;
	width: 33%;
	padding-right: 15px;
	vertical-align: top;
}

.grid2 {
	width: 100%;
}

.coll2 {
	display: inline-block;
	width: 49%;
	padding-right: 15px;
	vertical-align: top;
}

.grid4 {
	width: 100%;
}

.coll4 {
	display: inline-block;
	width: 24%;
	padding-right: 15px;
	vertical-align: top;
}

@media only screen and (max-width: 800px) {
	.coll4 {
		display: block;
		width: 100%;
	}

	.coll3 {
		display: block;
		width: 100%;
	}

	.coll2 {
		display: block;
		width: 100%;
	}
}

.section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section.small {
	padding-top: 15px;
	padding-bottom: 15px;
}

.cycle {

}

.title {
	padding-bottom: 45px;
}

.section h3 {
	font-weight: normal
}

.section h4 {
	font-weight: normal;
	font-family: inherit;
}

.bg-grayLightest {
	background-color: #fff;
}

.tile {
	box-shadow: none !important;
}

.code {
	background-color: #efefef;
	font-family: monospace;
	padding-left:7px;
	padding-right:7px;
}

.pricing-row {
	margin-top: 2px !important;
}

h2.buy-title {
	font-size: 38px;
	margin-bottom: 20px;
}

.buy-line {
	border-bottom: 1px solid;
	margin: 5px 15px 5px 15px;
	opacity: 0.4;
}

@media (max-width: 1450px) {
	.toc {
		display:none
	}
}

.toc {
	max-width: 250px;
	position:fixed;
	right: 100px;
	top: 0px;
	padding-top:115px;
}

.metro .documentation .toc .level-2 {
	padding-left: 6px;
	font-size: 100%;
}

.metro .documentation .toc .level-3 {
	padding-left: 12px;
	font-size: 83%;
}

.metro .documentation .toc .level-4 {
	padding-left: 18px;
	font-size: 74%;
}

.metro .birthday .cake {
	display: inline-block;
	margin-right: 10px;
}

.metro .birthday .announcement {
	display: inline-block;
	vertical-align: middle;
}

.metro .birthday .announcement-text {
	font-family: 'Segoe UI Light_','Open Sans Light', Verdana,Arial,Helvetica,sans-serif;
	font-weight: 300;
}

.product-box {
	position: relative;
	padding-bottom: 35px;
}

.product-box:after {
	font-family: iconFont;
	position: absolute;
	font-size: 170px;
	color: rgba(0, 175, 240, 0.60);
	z-index: 1;
}

.product {
	position: relative;
	z-index: 2;
}

.online:after {
	content: "\e06f";
	top: 0;
	left: 55%;
}

.playground:after {
	content: "\e058";
	top: 20px;
	left: 57%;
}

.online-feature-icon {
	margin-top: 10px;
	margin-right: 20px;
	font-size: 3.1em !important;
}

.onprem:after {
	content: "\e02c";
	top: 20px;
	left: 55%;
}

.cmd {
	width: 33%;
	display: inline-block;
	background: #eeeeee none repeat scroll 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
}

.cmd .cmd-toolbar {
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	padding: 0 4px;
}

.cmd .cmd-toolbar i {
	background: #f00 none repeat scroll 0 0;
	border-radius: 100px;
	display: inline-block;
	float: left;
	height: 12px;
	margin: 8px 0 8px 8px;
	width: 12px;
}

.cmd .cmd-content {
	font-size: 15px;
}

.cmd .cmd-toolbar i.red {
	background-color: #ff5f57;
}

.cmd .cmd-toolbar i.yellow {
	background-color: #ffbd2e;
}

.cmd .cmd-toolbar i.green {
	background-color: #2ace42;
}

.cmd .cmd-toolbar span {
	color: #999;
	display: block;
	font-family: Menlo;
	font-size: 12px;
	margin: 6px auto auto;
	max-width: 150px;
	text-align: center;
}

.button-box {
	cursor: pointer;
}

.video {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.video:after {
	content: "\e15c";
	top: 25%;
	left: 38%;
	font-family: iconFont;
	position: absolute;
	font-size: 145px;
	color: rgba(229, 20, 0, 0.60);
	z-index: 1;
}

.video:hover:after {
	color: rgba(51, 33, 0, 0.60);
}

.card {
	height: 300px;
	margin: 0;
	position: relative;
}

.card > img {
	width: 200px;
	display: block;
	margin: auto;
	border-radius: 5%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.card > img.avatar {
	opacity: 0.7;
	width: 120px;
}

.card > img:not(.avatar) {
    height: 242px;
}

.about-product {
	font-size: 65px !important;
}

.about-story {
	font-size: 16px !important;
	line-height: 27px !important;
	padding:20px
}

.about-help-icon {
	height:100px;
	font-size:85px !important;
}

.video-dotnet {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.video-dotnet:after {
	content: "\e15c";
	top: 25%;
	left: 38%;
	font-family: iconFont;
	position: absolute;
	font-size: 90px;
	color: rgba(229, 20, 0, 0.60);
	z-index: 1;
}

.video-dotnet:hover:after {
	color: rgba(51, 33, 0, 0.60);
}
