.metro p, ul, li, code {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 200;
	letter-spacing: 0.01rem;
	line-height: 1.4;
	color:  rgba(0, 0, 0, 0.77);
}

.metro p.subtitle {
	color: #000;
	font-family: "Segoe UI_","Open Sans",Verdana,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 15pt;
	margin: 0 0 7pt;
}


a:hover {
	text-decoration: none;
}
.articles img {
	width: 80px;
	height: 80px;
	margin: 5px;
}
.underbanner {
	padding: 11px;
	text-align: right;
}
.carousel {
	height: 480px;
}
.metro .carousel .markers li.active a {
	background-color: #555;
}
.tertiary-text {
	font-size: 11px;
}
/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	text-align: left;
	font-size: 12px;
	padding: 20px;
}
.brand-logo {
	display: block;
	width: 119px;
	height: 26px;
	background: url(../img/js-logo.png) no-repeat;
	margin-top: -5px;
}
.main-title {
	margin-bottom: 20px;
}
/* About Us page */
.developers {
	margin: 0 auto;
	padding-top: 30px;
}
.developers h3 {
	color: #333;
}
img.profil {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}
.job {
	display: block;
	margin-top: -6px;
	font-size: 12px;
	font-style: italic;
	color: #888;
}
.email, .web {
	display: block;
	font-size: 13px;
	color: #888;
	padding: 2px;
}
.divider {
	margin: 0 auto;
	border-left: 1px solid #eee;
}
.twitter-mention-button {
	margin-top: 4px;
}

.top40 {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.center {
	margin: 0 auto;
}

.slide .container {
	padding: 30px 0px;
}

.slide .container h1,
.slide .container h2 {
	color: #fff;
}

.top10 {
	margin-top: 10px;
}

.code-img {margin-top: 5px;}

.listview-outlook {
	margin-top: 20px;
	margin-bottom: 20px;
}

.carousel h2 {
	font-size: 19px;
	margin: 5px;
	padding: 0px;
}

/* Modal - Quick Start video */
.metro .window.flat{
	background: #f9f9f9;
}

p.modal {
	margin-top: 10px;
	text-align: center;
}

.slide .container h1 {
	margin-bottom: 20px;
}

.samples-img {
	margin-bottom: 10px;
}

.main-title a {
	font-size: 35px;
	padding-right: 15px;
}

.main-title h1 {
	display: inline;
}

.pull-right {
	float: right !important;
}

.about-box {
	margin-top: -20px;
}

.metro .home .bg-homeGray {
	background-color: #888;
}

.metro .home .grid, .metro .home .grid .row {
	margin: 0;
}

.tile-content-back {
	display: none;
	padding: 10px;
}

.metro .tile.thin {
	height: 65px;
	width: 200px;
}

.metro .tile.thin .tile-content-multiline {
	padding: 10px;
}

.metro .tile.thin .tile-content {
	height: 65px;
	line-height: 65px;
	padding-left: 10px;
	vertical-align: middle;
}


.metro .notice {
	height: 65px;
	padding: 10px;
}

.tile-text {
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
}

.metro .notice.marker-no:before {
	width: 0px;
}

.youtube {
	font-size: larger;
	padding: 2px 4px 2px 4px;
	border-radius:4px
}


