@model Mello.ImageGallery.ViewModels.CreateGalleryViewModel

@{ Layout.Title = T("Create new Image Gallery").ToString(); }

@using (Html.BeginFormAntiForgeryPost()){
    @Html.ValidationSummary()
    <fieldset>
        <label for="GalleryName">@T("Image Gallery Name")</label>
        <input type="text" name="GalleryName" class="textMedium" />
    </fieldset>
    <fieldset >
        <button class="primaryAction" type="submit">@T("Save")</button>
        @Html.ActionLink("Back", "Index", null, new { Class = "button"})
    </fieldset>
}

