@model Disqus.Comments.ViewModels.DisqusSettingsViewModel
@using Orchard.Utility.Extensions;

@{ Style.Require("DisqusModule"); }
<h1>
    Disqus Comments</h1>
@if (string.IsNullOrWhiteSpace(Model.ShortName))
{
    @T("The Disqus shortname has not been configured. ") @Html.ActionLink(T("Click here to configure ").Text, "Settings")
    @T("Disqus integration with Orchard.")
}
else
{ 
    <div class="disqus-manage-buttons">
        @Html.ActionLink(T("Sync Comments From Disqus").Text, "SyncDisqus", new { Controller = "Admin", Area = "Disqus.Comments", ReturnUrl = Context.Request.ToUrlString() }, new { @class = "button primaryAction" })
    </div>
    
    <iframe src="http://disqus.com/comments/moderate/@Model.ShortName/?template=wordpress" style="width: 100%; height: 800px">
    </iframe>
}