.table {
  display: table;
  border-collapse: collapse;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.ng-dirty input.ng-invalid {
  border: 1px solid red;
  line-height: 16px;
  padding: 2px;
}
.custom-field-row {
  border: 1px solid #BDBCBC;
  background: white;
}
.name-cell {
  padding-right: 20px;
  padding-left: 4px;
  white-space: nowrap;
  cursor: move;
}
.display-name-cell {
  padding-right: 20px;
  white-space: nowrap;
}
.type-cell {
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
}
.buttons-cell {
  padding-right: 4px;
  white-space: nowrap;
}
.add-custom-field-form {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #BDBCBC;
}
.add-custom-field-form label {
  padding: 0;
}
.add-custom-field-form input[type=text],
.add-custom-field-form select {
  width: 190px;
}
.add-button {
  margin-top: 8px;
  margin-bottom: 8px;
}
.ng-dirty .validation-error-message {
  color: red;
}
.no-custom-fields {
  border: 1px solid #BDBCBC;
  padding: 8px;
}
