@{
    var homeUrl = Href("~/");
}
<div class="col-lg-12">
    Copyright &#169; <a href="@homeUrl">@WorkContext.CurrentSite.SiteName</a>. Theme by <a href="http://wiggleware.com" target="_blank">Wiggleware</a>.<br />
    Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.<br />
    Based on <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. Hosted on <a href="http://pages.github.com/" target="_blank">GitHub</a>. Swatches from <a href="http://bootswatch.com" target="_blank">Bootswatch</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/" target="_blank">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" target="_blank">Google</a>.<p></p>
</div>