/** This style will be present at every image gallery, regardless of the plugin used **/

.image-gallery {
	background-color: #fff;
	padding: 10px;	
}
.image-gallery ul {
    list-style: none;
}
.image-gallery ul li { display: inline; }
.image-gallery ul img {
	border: 2px black solid;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:2px;
}
.image-gallery ul a:hover img {
	border: 2px solid #434343;
}
.image-gallery ul a:hover { color: #fff; }