@using System.Web.Mvc.Html

@model Mello.ImageGallery.ViewModels.ImageGallerySummaryAdminViewModel

 <span>
    @T("Image gallery with ") @Model.ImageCount
    @(Model.ImageCount == 1 ? T(" image") : T(" images"))
 </span>

 

