@{
    IEnumerable<object> items = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("list-items");
}

<div class="row">
    @foreach (dynamic item in items.Take(3)) {
        <div class="span4">
            @Display(item)
        </div>
    }
</div>

<div class="row">
    @foreach (dynamic item in items.Skip(3).Take(3)) {
        <div class="span4">
            @Display(item)
        </div>
    }
</div>