<style>
    .quick-button {
        width: 300px;
        margin: 0px 0px 20px -50px
    }
</style>

<div class="span3 pull-right" style="text-align: left">
    <div>
        <a class="btn btn-primary quick-button" href="/playground">Playground</a> 
    </div>
    <div>
        <a class="btn btn-warning quick-button" href="/on-prem">Download on-prem</a>
    </div>
    <div>
        <a class="btn btn-success quick-button" href="/online">Start with jsReport online</a>
    </div>
</div>